/setProtocolDFP.m -text
/addAllTrialRecFilesToDB.m -text
/testSound.m -text
/ratsgrowthcurve.m -text
/calcPerfDFP.m -text
/crossModalMakeRatrix.m -text
/quickInspectDFP.m -text
/testfilenames.m -text
/runTrials.m -text
