/stimOGL.m -text
/phasedStim.m -text
/doPhase.m -text
/test.m -text
/stimOGL_OLD.m -text
/closeRealTimeLoop.m -text
/validateStimSpecs.m -text
/determineScreenParametersAndLUT.m -text
/setupLocalTimedAndLocalPumpRewards.m -text
/testStimOGL.m -text
/runRealTimeLoop.m -text
/getEyeTracker.m -text
/handleTrialLogic.m -text
/getResponse.m -text
/handleServerCommands.m -text
/flipFrameAndDoPulse.m -text
/handleKeyboard.m -text
/drawText.m -text
/getSoundManager.m -text
/cacheTextures.m -text
/updateFrameIndexUsingTextureCache.m -text
/handlePhasedTrialLogic.m -text
/phaseify.m -text
/setupServerPumpRewards.m -text
/determineStrategy.m -text
/saveMissedFrameData.m -text
/determineColorPrecision.m -text
/drawFrameUsingTextureCache.m -text
/drawFirstFrame.m -text
