/ifFeatureGoRightWithTwoFlank.m -text
/getStimPatch.m -text
/display.m -text
/inflate.m -text
/flushLUT.m -text
/errorStim.m -text
/fillLUT.m -text
/getInterTrialLuminance.m -text
/stimMgrOKForTrialMgr.m -text
/calcStimOld_AllSixAtOnce.m -text
/deflate.m -text
/._.DS_Store -text
/calcStim.m -text
/orientedGabors.m -text
/getLUT.m -text
/calcStimOld080216.m -text
/controlledCalcStim.m -text
/calcStim-pmmBackup071107.m -text
/getCurrentShapedValue.m -text
/inflateOld080216.m -text
/stimIsCached.m -text
/selectStimulusParameters.m -text
/setCurrentShapedValue.m -text
/decache.m -text
/checkShapingValues.m -text
/setSeed.m -text
/verifyCalcStim080216.m -text
/cache.m -text
/movieOfRotateFlankerPosAngle.m -text
/getDefaultParameters.m -text
/shapeParameter.m -text
/yuan_test_for_calcStim.m -text
/setTargetContrast.m -text
