/ifFeatureGoRightWithTwoFlank.m -text
/getStimPatch.m -text
/display.m -text
/inflate.m -text
/flushLUT.m -text
/errorStim.m -text
/fillLUT.m -text
/getInterTrialLuminance.m -text
/stimMgrOKForTrialMgr.m -text
/calcStimOld_AllSixAtOnce.m -text
/deflate.m -text
/calcStim.m -text
/orientedGabors.m -text
/getLUT.m -text
/calcStimOld080216.m -text
/controlledCalcStim.m -text
/calcStim-pmmBackup071107.m -text
/getCurrentShapedValue.m -text
/stimIsCached.m -text
/selectStimulusParameters.m -text
/setCurrentShapedValue.m -text
/decache.m -text
/checkShapingValues.m -text
/setSeed.m -text
/verifyCalcStim080216.m -text
/cache.m -text
/movieOfRotateFlankerPosAngle.m -text
/getDefaultParameters.m -text
/shapeParameter.m -text
/setTargetContrast.m -text
/getPercentCorrectionTrials.m -text
/testLUT.m -text
/canForceStimDetails.m -text
/setBlockedDetails.m -text
/createDiscriminandumContextOnOffMovie.m -text
/hasUpdatablePercentCorrectionTrial.m -text
/setPercentCorrectionTrials.m -text
/extractDetailFields.m -text
/doDynamicPTBFrame.m -text
/checkFitRF.m -text
/generateFlankerFactorialCombo.m -text
/checkBlocking.m -text
/removedLard.m -text
/checkDynamicSweep.m -text
/getPatchSize.m -text
/getFeaturePatchStim.m -text
/setDynamicDetails.m -text
/texsCorrespondToThisWindow.m -text
/expertPostTrialCleanUp.m -text
/isTargetFlankerOn.m -text
/computeSpatialDetails.m -text
/setFloatPrecision.m -text
/drawExpertFrame.m -text
/setStimFromDetails.m -text
/physAnalysis.m -text
/setStdGaussMask.m -text
/setRenderMode.m -text
/checkDynamicFlicker.m -text
/setDynamicFlicker.m -text
/worthPhysAnalysis.m -text
/checkTargetIsPresent.m -text
