/ifFeatureGoRightWithTwoFlank.m -text
/getStimPatch.m -text
/display.m -text
/inflate.m -text
/flushLUT.m -text
/errorStim.m -text
/fillLUT.m -text
/getInterTrialLuminance.m -text
/stimMgrOKForTrialMgr.m -text
/calcStimOld_AllSixAtOnce.m -text
/deflate.m -text
/._.DS_Store -text
/calcStim.m -text
/orientedGabors.m -text
/getLUT.m -text
