/audioplayercrashdemo.m -text
/stimulusControl.m -text
/audioplayercrashdemo2.m -text
/FreeDrinksInit.m -text
/ExampleSession.m -text
/RatSubjectSession.m -text
/ExampleTrials.m -text
/RatSubjectInit.m -text
/CalibratePorts.m -text
/ExampleInit.m -text
/flushPorts.m -text
/drawstim.m -text
/countLicks.m -text
/removeSubjectFromPmeierRatrix.m -text
/setCoherentDotSteps.m -text
/masterShaping.m -text
/run.m -text
/miniCalcStim.m -text
/freeDrinksOnlytInit.m -text
