/setRequestReward.m -text
/upize.m -text
parallelPort/lptwrite.mexw32 -text
parallelPort/pt_ioctl.c -text
parallelPort/portTest.m -text
parallelPort/PortTalk_IOCTL.h -text
parallelPort/lptwrite.c -text
parallelPort/getLPT1addr.mexw32 -text
parallelPort/lptread.mexw32 -text
parallelPort/lptread.c -text
parallelPort/lptWriteBits.m -text
parallelPort/getLPT1addr.c -text
parallelPort/isBitSpec.m -text
parallelPort/getBitSpecForPinNum.m -text
parallelPort/lptWriteBit.m -text
parallelPort/getDirForPinNum.m -text
parallelPort/lptReadBit.m -text
parallelPort/goodPins.m -text
infrastructure/addJavaComponents.m -text
infrastructure/checkPath.m -text
infrastructure/checkTargetRevision.m -text
infrastructure/valveStateMatch.m -text
analysis/aboveThresholdPerformance.m -text
analysis/calculateSmoothedPerformances.m -text
analysis/calcStimExposureTime.m -text
stimHelpers/computeSquareGrating.m -text
stimHelpers/assignPorts.m -text
stimHelpers/computeFlickerFields.m -text
stimHelpers/computeGabors.m -text
infrastructure/createSubjectsFromDB.m -text
infrastructure/clearJavaComponents.m -text
infrastructure/updatePsychtoolboxIfNecessary.m -text
analysis/doSubjectFlankerAnalysis.m -text
stimHelpers/fitGammaAndReturnLinearized.m -text
stimHelpers/makeStandardLUT.m -text
stimHelpers/getFeaturePatchStim.m -text
infrastructure/makePumpSystem.m -text
infrastructure/logwrite.m -text
infrastructure/makeDefaultStation.m -text
infrastructure/fixSystemTime.m -text
infrastructure/getRackIDFromIP.m -text
infrastructure/getSVNRevisionFromXML.m -text
infrastructure/initRatrixPorts.m -text
infrastructure/getSameLimitedResponsePort.m -text
infrastructure/recordLight.m -text
infrastructure/getLastTrainingStep.m -text
infrastructure/getRlabJarPath.m -text
infrastructure/getMACaddress.m -text
analysis/findResponsePatterns.m -text
matlaby/structize.m -text
matlaby/prettyCat.m -text
matlaby/isMACaddress.m -text
matlaby/combineStructs.m -text
matlaby/hasAllFieldsAndNoMore.m -text
matlaby/fastBin2Dec.m -text
matlaby/isNearInteger.m -text
matlaby/isVectorOfType.m -text
matlaby/isDirRemote.m -text
matlaby/printAsList.m -text
matlaby/fillMissingFields.m -text
matlaby/remoteDir.m -text
matlaby/doubleSlashes.m -text
matlaby/hasAllFieldsInThatOrder.m -text
matlaby/removeStr.m -text
analysis/sortSmallData.m -text
analysis/removeFieldsFromCompiled.m -text
analysis/setSmallDataFromListOfVariableNames.m -text
analysis/xferDataToServer.m -text
trialRecordProcessing/getRangesFromTrialRecordFileNames.m -text
trialRecordProcessing/replicateTrialRecords.m -text
trialRecordProcessing/loadMakeOrSaveTrialRecords.m -text
trialRecordProcessing/getTrialRecordsFromPermanentStore.m -text
trialRecordProcessing/getTrialRecordFiles.m -text
trialRecordProcessing/compareTrialRecordFileNames.m -text
matlaby/datenumFor30.m -text
stimHelpers/chooseLargestResForHzsDepthRatio.m -text
matlaby/fastDec2Bin.m -text
infrastructure/screenTimingTest.m -text
infrastructure/kbTest.m -text
infrastructure/updateRatrixRevisionIfNecessary.m -text
infrastructure/writeSVNUpdateCommand.m -text
infrastructure/readRFID.m -text
matlaby/ple.m -text
infrastructure/parallaxRead.m -text
matlaby/ensureEqualLengthVects.m -text
matlaby/ensureScalar.m -text
matlaby/verifyAllFieldsNCols.m -text
matlaby/ensureTypedVector.m -text
matlaby/mergeStructs.m -text
matlaby/colsFromAllFields.m -text
trialRecordProcessing/checkNafcTargets.m -text
infrastructure/getServerNameFromIP.m -text
infrastructure/getSVNPropertiesForPath.m -text
stimHelpers/pickContrast.m -text
stimHelpers/drawFrom2Ddist.m -text
matlaby/hash.m -text
trialRecordProcessing/modifyTrialRecords.m -text
/AM2300Control.m -text
nidaq/openNidaqForAnalogOutput.m -text
matlaby/makeSinusoid.m -text
matlaby/getShuffledCross.m -text
infrastructure/LUTlookup.m -text
trialRecordProcessing/addOrFindInLUT.m -text
stimHelpers/generateFactorialCombo.m -text
infrastructure/getRatrix.m -text
matbugs/bayesSDT/BayesSDT_v2.txt -text
matbugs/bayesSDT/BayesSDT_v1.txt -text
matbugs/bayesSDT/BayesSDT.m -text
matbugs/bayesSDT/ReadMe.txt -text
matbugs/matbugs.m -text
R_files/play.R -text
R_files/template.R -text
analysis/getSignificantSTASpots.m -text
analysis/getNeuralAnalysis.m -text
analysis/getCycPerDeg.m -text
analysis/fitPriors.m -text
matlaby/dsxy2figxy.m -text
matlaby/arrow.m -text
analysis/fitElipseToBinaryImage.m -text
matlaby/iswholenumber.m -text
trialRecordProcessing/extractFieldAndEnsure.m -text
