/computeGabors.m -text
/doubleSlashes.m -text
/addJavaComponents.m -text
/isVectorOfType.m -text
/computeSquareGrating.m -text
/checkPath.m -text
/combineStructs.m -text
/calculateSmoothedPerformances.m -text
/loadMakeOrSaveTrialRecords.m -text
/logwrite.m -text
/prettyCat.m -text
/getMACaddress.m -text
/fitGammaAndReturnLinearized.m -text
/findResponsePatterns.m -text
/clearJavaComponents.m -text
/valveStateMatch.m -text
/getSVNRevisionFromXML.m -text
/getFeaturePatchStim.m -text
/printAsList.m -text
/doSubjectFlankerAnalysis.m -text
/removeStr.m -text
/computeFlickerFields.m -text
/isMACaddress.m -text
/calcStimExposureTime.m -text
/getRangesFromTrialRecordFileNames.m -text
/compareTrialRecordFileNames.m -text
/structize.m -text
/fillMissingFields.m -text
/hasAllFieldsAndNoMore.m -text
/getTrialRecordsFromPermanentStore.m -text
/getSameLimitedResponsePort.m -text
/setRequestReward.m -text
/remoteDir.m -text
/getRlabJarPath.m -text
/aboveThresholdPerformance.m -text
/replicateTrialRecords.m -text
/upize.m -text
/getLastTrainingStep.m -text
/hasAllFieldsInThatOrder.m -text
/getTrialRecordFiles.m -text
/isDirRemote.m -text
/fixSystemTime.m -text
/isNearInteger.m -text
/setRes.m -text
/getRackIDFromIP.m -text
/updatePsychtoolboxIfNecessary.m -text
/assignPorts.m -text
/createSubjectsFromDB.m -text
