/getRatrixJarPath.m -text
/computeGabors.m -text
/doubleSlashes.m -text
/addJavaComponents.m -text
/isVectorOfType.m -text
/computeSquareGrating.m -text
/checkPath.m -text
/combineStructs.m -text
/calculateSmoothedPerformances.m -text
/loadMakeOrSaveTrialRecords.m -text
/logwrite.m -text
/prettyCat.m -text
/getMACaddress.m -text
/fitGammaAndReturnLinearized.m -text
/findResponsePatterns.m -text
/clearJavaComponents.m -text
/valveStateMatch.m -text
/getSVNRevisionFromXML.m -text
/getFeaturePatchStim.m -text
/printAsList.m -text
/doSubjectFlankerAnalysis.m -text
/removeStr.m -text
/computeFlickerFields.m -text
/isMACaddress.m -text
/calcStimExposureTime.m -text
