/trainingStep.m -text
/getSessionRecords.m -text
/getTrialManager.m -text
/getCriterion.m -text
/doTrial.m -text
/display.m -text
/decache.m -text
/getScheduler.m -text
/getStimManager.m -text
/boxOKForTrainingStep.m -text
/doInterSession.m -text
/sampleStimFrame.m -text
/setTrialManager.m -text
/setStimManager.m -text
/stopEyeTracking.m -text
/calibrateEyeTracker.m -text
/setReinforcementParam.m -text
/generateStepName.m -text
/getSVNCheckMode.m -text
/getSVNRevNum.m -text
/getSVNRevURL.m -text
/getStepName.m -text
