/trainingStep.m -text
/getSessionRecords.m -text
/getTrialManager.m -text
/getCriterion.m -text
/doTrial.m -text
/display.m -text
/decache.m -text
/getScheduler.m -text
/doTrial.m.bak -text
/getStimManager.m -text
/boxOKForTrainingStep.m -text
