/bootstrap.vbs -text
/server.vbs -text
/getRatrixPath.m -text
/ratrixServer.m -text
/checkForUpdate.m -text
/bootstrap.m -text
/setupEnvironment.m -text
/standAloneRun.m -text
/miniServer.m -text
/ratrixUITest.m -text
