/bootstrap.vbs -text
/server.vbs -text
/getRatrixPath.m -text
/serverCheckForUpdate.m -text
/ratrixServer.m -text
/clientCheckForUpdate.m -text
/runRatrixServer.m -text
/checkForUpdate.m -text
/bootstrap.m -text
/setupEnvironment.m -text
/standAloneRun.m -text
