/boxOKForTrialManager.m -text
/doTrial.m -text
/display.m -text
/decache.m -text
/trialManager.m -text
/setReinforcementDetails.m -text
/setReinforcementManager.m -text
/getReinforcementManager.m -text
/setEyeTracker.m -text
/getDescription.m -text
/setSoundManager.m -text
/getMsMinimumClearDuration.m -text
/getMsMinimumPokeDuration.m -text
/setReinforcementParam.m -text
/getNameFragment.m -text
/stationOKForTrialManager.m -text
/getRequestPorts.m -text
/stopEyeTracking.m -text
/getResponsePorts.m -text
/calibrateEyeTracker.m -text
/getAllowRepeats.m -text
/cacheTextures.m -text
/determineDestRect.m -text
/determineColorPrecision.m -text
/checkPorts.m -text
/updateTrialState.m -text
/getShowText.m -text
