/boxOKForTrialManager.m -text
/doTrial.m -text
/display.m -text
/decache.m -text
/trialManager.m -text
/setReinforcementDetails.m -text
/setReinforcementManager.m -text
/getReinforcementManager.m -text
/setEyeTracker.m -text
/getMsFlushDuration.m -text
/getDescription.m -text
/setSoundManager.m -text
/getMsMinimumClearDuration.m -text
/getMsMinimumPokeDuration.m -text
/setReinforcementParam.m -text
/getNameFragment.m -text
/stationOKForTrialManager.m -text
/setUpOrStopDatanet.m -text
/getRequestPorts.m -text
/calibrateEyeTracker.m -text
/getResponsePorts.m -text
