/xtargets_borderlayout.m -text
/xtargets_borderlayout.p -text
/test_springlayout.p -text
/install.txt -text
/xtargets_hglayouts_root.m -text
/xtargets_hglayouts_root.p -text
/releasenotes.txt -text
/test_largespringlayout.p -text
/test_borderlayout.m -text
/test_largespringlayout.m -text
/test_borderlayout.p -text
/xtargets_springgridlayout.p -text
/xtargets_springgridlayout.m -text
/license.txt -text
