/analysis.bat -text
/start.bat -text
documentation/ratrix[!!-~]overview.txt -text
documentation/stimManager.calcStim.txt -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/Carlos_adaptation_string_with_antibias_and_add_before.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/CarlosInitFreeDrinks.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/CarlosInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/Carlos_adaptation_string_with_antibias.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/Carlos_adaptation_string.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/HumanSubjectSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/PhilipInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/HumanSubjectInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/PhilInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/PortSniffer.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Liz/LizSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Liz/LizInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Liz/LizSessionChanged.m -text
out[!!-~]of[!!-~]date[!!-~]examples/RatSubjectSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/freeDrinksOnlytInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/audioplayercrashdemo.m -text
out[!!-~]of[!!-~]date[!!-~]examples/FreeDrinksInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/setCoherentDotSteps.m -text
out[!!-~]of[!!-~]date[!!-~]examples/drawstim.m -text
out[!!-~]of[!!-~]date[!!-~]examples/ExampleInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/audioplayercrashdemo2.m -text
out[!!-~]of[!!-~]date[!!-~]examples/stimulusControl.m -text
out[!!-~]of[!!-~]date[!!-~]examples/ExampleSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/RatSubjectInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/CalibratePorts.m -text
out[!!-~]of[!!-~]date[!!-~]examples/countLicks.m -text
out[!!-~]of[!!-~]date[!!-~]examples/removeSubjectFromPmeierRatrix.m -text
out[!!-~]of[!!-~]date[!!-~]examples/miniCalcStim.m -text
out[!!-~]of[!!-~]date[!!-~]examples/run.m -text
out[!!-~]of[!!-~]date[!!-~]examples/masterShaping.m -text
out[!!-~]of[!!-~]date[!!-~]examples/ExampleTrials.m -text
KlustaKwik/KlustaKwik.exe -text
osort/sortingNew/klustakwik/importFromKlusta.m -text
osort/sortingNew/klustakwik/exportToKlusta.m -text
osort/sortingNew/klustakwik/plotKlustaResult.m -text
osort/sortingNew/model/detection/plotDetectionROC_precomputed.m -text
osort/sortingNew/model/detection/calcDetectionROC_CPU2 -text
osort/sortingNew/model/detection/evalDetectionSimulated.m -text
osort/sortingNew/model/detection/plotSimulatedAlignPerf.m -text
osort/sortingNew/model/detection/evalAlignment.m -text
osort/sortingNew/model/detection/calcDetectionROC.m -text
osort/sortingNew/model/detection/evalSimulatedPerfDetection.m -text
osort/sortingNew/model/detection/calcDetectionROC_precompute.m -text
osort/sortingNew/model/detection/evalSimulatedAlignPerf.m -text
osort/sortingNew/model/detection/calcAlignPerf.m -text
osort/sortingNew/model/detection/plotDetectionROC.m -text
osort/sortingNew/model/detection/calcDetectionROC_perLevel.m -text
osort/sortingNew/model/detection/calcAlignPerf_allSims.m -text
osort/sortingNew/model/mainSimulatedEval.m -text
osort/sortingNew/model/evalPerformance.m -text
osort/sortingNew/model/generateSpiketrain_fromNcs.m -text
osort/sortingNew/model/detectArtificialSpikes.m -text
osort/sortingNew/model/loadSimulationFiles_order.m -text
osort/sortingNew/model/rand_renewal_poisson.m -text
osort/sortingNew/model/compareWithOffline.m -text
osort/sortingNew/model/runSimulatedEval.m -text
osort/sortingNew/model/plotSimulationPerformance.m -text
osort/sortingNew/model/generateSpiketrain.m -text
osort/sortingNew/model/compareWithWave.m -text
osort/sortingNew/model/generateSpiketrain_times.m -text
osort/sortingNew/model/plotsDetectionEvaluation.m -text
osort/sortingNew/model/plotAverageAutocorr.m -text
osort/sortingNew/model/figSimulationPerformance.m -text
osort/sortingNew/model/loadSimulationFilesVars.m -text
osort/sortingNew/model/filter.mat -text
osort/sortingNew/model/estimatePDF.m -text
osort/sortingNew/model/loadSimulationFiles.m -text
osort/sortingNew/model/generateSimulatedSpiketrains.m -text
osort/sortingNew/model/calcRsquare.m -text
osort/sortingNew/model/findAverageAutocorr.m -text
osort/sortingNew/model/generateSpiketrain_memOptimized.m -text
osort/sortingNew/model/allMeans.mat -text
osort/sortingNew/model/findAllOrigTimestamps.m -text
osort/sortingNew/model/Fstatistic.m -text
osort/sortingNew/noiseRemoval/transformBasis.m -text
osort/sortingNew/noiseRemoval/transformSpikes.m -text
osort/sortingNew/noiseRemoval/aaad.m -text
osort/sortingNew/noiseRemoval/transformBasis2.m -text
osort/sortingNew/projectionTest/comparePSDs.m -text
osort/sortingNew/projectionTest/figureClusterOverlap.m -text
osort/sortingNew/projectionTest/projectionTest.m -text
osort/sortingNew/projectionTest/pruneOutliers.m -text
osort/sortingNew/projectionTest/residualProjection.m -text
osort/sortingNew/evaluation/residualDistribution.m -text
osort/sortingNew/evaluation/quantifySortedBursts.m -text
osort/sortingNew/evaluation/cellStatsHM.mat -text
osort/sortingNew/evaluation/plotInstFiringOfClusters.m -text
osort/sortingNew/evaluation/findBurstsEval.m -text
osort/sortingNew/evaluation/figsPerfSimulations.m -text
osort/sortingNew/evaluation/plotWhiteningResult.m -text
osort/sortingNew/evaluation/waveletComparison.m -text
osort/sortingNew/evaluation/clusterCrosscorr.m -text
osort/sortingNew/evaluation/getBinnedSpikeCountForCluster.m -text
osort/sortingNew/evaluation/findBursts.m -text
osort/sortingNew/evaluation/statsProjHM.mat -text
osort/sortingNew/evaluation/comparePSDs.m -text
osort/sortingNew/evaluation/calcSNR.m -text
osort/sortingNew/evaluation/allBurstyNeuronsRelAmplitude.mat -text
osort/sortingNew/evaluation/evalBurstsAllCells.m -text
osort/sortingNew/evaluation/evalProjectionTestAllCells.m -text
osort/sortingNew/evaluation/evalSNRAllCells.m -text
osort/sortingNew/evaluation/quantifyBursts.m -text
osort/sortingNew/evaluation/calcAverageSpikeInBurst.m -text
osort/sortingNew/evaluation/getSNRISISortingStatsOfCluster.m -text
osort/sortingNew/evaluation/calcAvPowerspectrum.m -text
osort/sortingNew/plotMeanWaveforms.m -text
osort/sortingNew/classifyClusters.m -text
osort/sortingNew/realignAndScale.m -text
osort/sortingNew/iclustTest.m -text
osort/sortingNew/clusterMeans.m -text
osort/sortingNew/realigneSpikes.m -text
osort/sortingNew/calculateDistanceNorm2.m -text
osort/sortingNew/sortBlock.m -text
osort/sortingNew/removeWhitenoise.m -text
osort/sortingNew/setDistanceWeight.m -text
osort/sortingNew/assignSpikesToClusters.m -text
osort/sortingNew/findInitialMeanWaveforms.m -text
osort/sortingNew/calculateDistanceT2.m -text
osort/sortingNew/calculateDistanceNorm.m -text
osort/sortingNew/clusterSpikes.m -text
osort/sortingNew/calculateDistanceChi2.m -text
osort/sortingNew/calculateDistance.m -text
osort/sortingNew/assignToWaveform.m -text
osort/sortingNew/getStatsForCluster.m -text
osort/sortingNew/posthocWhiten.m -text
osort/sortingNew/calcFDist.m -text
osort/sortingNew/rfit.m -text
osort/sortingNew/sortingMain.m -text
osort/sortingNew/automaticSort.m -text
osort/sortingNew/getThreshold.m -text
osort/sortingNew/calcSimilarityMatrix.m -text
osort/sortingNew/mergeNegativePositiveSpikes.m -text
osort/sortingNew/reassignToFixedClusters.m -text
osort/sortingNew/postDetectionFilter.m -text
osort/sortingNew/plotSingleCluster.m -text
osort/sortingNew/plotSortingResultRaw.m -text
osort/sortingNew/plotRawWithHist.m -text
osort/sortingNew/RBFconv.m -text
osort/sortingNew/calculatePowerspect.m -text
osort/sortingNew/convertToSpiketrain.m -text
osort/sortingNew/rsolve.m -text
osort/sortingNew/getMeanSpikeForms.m -text
osort/sortingNew/calcDistMacro.m -text
osort/sortingNew/sortingTextGUI.m -text
osort/sortingNew/filterAndRBF.m -text
osort/sortingNew/calculateStdEstimate.m -text
osort/sortingNew/checkPowerspectrum.m -text
osort/sortingNew/plotClusters.m -text
osort/sortingNew/kmeansTests.m -text
osort/sortingNew/sortSpikesOnline.m -text
osort/sortingNew/createMeanWaveforms.m -text
osort/continuous/neuralynx/getRawCSCData.m -text
osort/continuous/neuralynx/getRawCSCTimestamps.m -text
osort/continuous/txt/getRawTXTTimestamps.m -text
osort/continuous/txt/getRawTXTData.m -text
osort/continuous/processRaw.m -text
osort/continuous/findPeak.m -text
osort/continuous/plotWaveformsRaw.m -text
osort/continuous/plotSpikeExtraction.m -text
osort/continuous/findPeakPower.m -text
osort/continuous/runningRMS.m -text
osort/continuous/defineSortingConstants.m -text
osort/continuous/defineFileFormat.m -text
osort/continuous/extractSpikes.m -text
osort/continuous/isGroundWire.m -text
osort/continuous/contFilt32556_1.mat -text
osort/continuous/runKlustakwikCont.m -text
osort/continuous/classifySpikes.m -text
osort/continuous/exportKlustakwikCont.m -text
osort/continuous/getRawHeader.m -text
osort/continuous/runningTEO.m -text
osort/continuous/hd.mat -text
osort/continuous/getRawData.m -text
osort/continuous/hd.fda -text
osort/continuous/readKlustakwikContResult.m -text
osort/continuous/filterSignal.m -text
osort/continuous/Hd2.mat -text
osort/continuous/upsampleSpikes.m -text
osort/continuous/findPeakMTEO.m -text
osort/continuous/MTEO.m -text
osort/continuous/detectSpikes.m -text
osort/continuous/getRawTimestamps.m -text
osort/continuous/loadRawData.m -text
osort/continuous/plotSingleSpikes.m -text
osort/continuous/classifyWave.m -text
osort/continuous/plotBandpassFreqResp.m -text
osort/continuous/runningAverage.m -text
osort/continuous/contFilt32556_1.fda -text
osort/continuous/hdOLD.mat -text
osort/continuous/determineBlocks.m -text
osort/continuous/convertTimestamps.m -text
osort/continuous/runningStd.m -text
osort/continuous/getChannelInfo.m -text
osort/continuous/computeNormalizedGround.m -text
