/analysis.bat -text
/start.bat -text
documentation/ratrix[!!-~]overview.txt -text
documentation/stimManager.calcStim.txt -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/Carlos_adaptation_string_with_antibias_and_add_before.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/CarlosInitFreeDrinks.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/CarlosInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/Carlos_adaptation_string_with_antibias.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Carlos/Carlos_adaptation_string.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/HumanSubjectSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/PhilipInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/HumanSubjectInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/PhilInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Philip/PortSniffer.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Liz/LizSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Liz/LizInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/Liz/LizSessionChanged.m -text
out[!!-~]of[!!-~]date[!!-~]examples/RatSubjectSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/freeDrinksOnlytInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/flushPorts.m -text
out[!!-~]of[!!-~]date[!!-~]examples/audioplayercrashdemo.m -text
out[!!-~]of[!!-~]date[!!-~]examples/FreeDrinksInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/setCoherentDotSteps.m -text
out[!!-~]of[!!-~]date[!!-~]examples/drawstim.m -text
out[!!-~]of[!!-~]date[!!-~]examples/ExampleInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/audioplayercrashdemo2.m -text
out[!!-~]of[!!-~]date[!!-~]examples/stimulusControl.m -text
out[!!-~]of[!!-~]date[!!-~]examples/ExampleSession.m -text
out[!!-~]of[!!-~]date[!!-~]examples/RatSubjectInit.m -text
out[!!-~]of[!!-~]date[!!-~]examples/CalibratePorts.m -text
out[!!-~]of[!!-~]date[!!-~]examples/countLicks.m -text
out[!!-~]of[!!-~]date[!!-~]examples/removeSubjectFromPmeierRatrix.m -text
out[!!-~]of[!!-~]date[!!-~]examples/miniCalcStim.m -text
out[!!-~]of[!!-~]date[!!-~]examples/run.m -text
out[!!-~]of[!!-~]date[!!-~]examples/masterShaping.m -text
out[!!-~]of[!!-~]date[!!-~]examples/ExampleTrials.m -text
