setup/setupPhysRig1/setProtocolPhys2.asv
setup/setupPMM/makeMiniDatabase.asv
setup/setupPMM/setFlankerStimRewardAndTrialManager.asv
setup/setupPMM/setLeftAndRightContrastInParameterStruct.asv
setup/setupPMM/setShapingPMM.asv
setup/setupPMM/setupPMM.asv
analysis/spike[!!-~]sorting/osort/sortingNew/assignToWaveform.asv
analysis/spike[!!-~]sorting/analysisManager.asv
analysis/spike[!!-~]sorting/analysisManagerByChunk.asv
analysis/spike[!!-~]sorting/flushSpikeRecords.asv
analysis/spike[!!-~]sorting/getFrameTimes.asv
analysis/spike[!!-~]sorting/postProcessSpikeClusters.asv
analysis/spike[!!-~]sorting/spikeSortFiddler.asv
analysis/anatomy/plotInBregmaCoordinates.asv
analysis/pmm/addPhantomTargetContrast.asv
analysis/pmm/addYesResponse.asv
analysis/pmm/analyze130.asv
analysis/pmm/assignLabeledNames.asv
analysis/pmm/checkControls.asv
analysis/pmm/compareAtoBbinofit.asv
analysis/pmm/continualAnalysisSTA.asv
analysis/pmm/cosyne2009.asv
analysis/pmm/diffOfBino.asv
analysis/pmm/doBarPlotWithStims.asv
analysis/pmm/doHitFAScatter.asv
analysis/pmm/dprimeCI.asv
analysis/pmm/figurePrintSizeTest.asv
analysis/pmm/filterFlankerData.asv
analysis/pmm/FlankerPapaerSupplimentary1.asv
analysis/pmm/flankerPaperFigures_v1.asv
analysis/pmm/flankerPaperFigures_v2.asv
analysis/pmm/flankerPaperFigures_v3.asv
analysis/pmm/getBlockTransitionTrialNums.asv
analysis/pmm/getCommonSubjectDir.asv
analysis/pmm/getDprCurve.asv
analysis/pmm/getDprMesh.asv
analysis/pmm/getFlankerConditionInds.asv
analysis/pmm/getFlankerStats.asv
analysis/pmm/getMarvLogs.asv
analysis/pmm/getResponseStats.asv
analysis/pmm/getStimSweep.asv
analysis/pmm/nearestIndices.asv
analysis/pmm/peekAtBlocked.asv
analysis/pmm/plotPerformancePerContrastPerCondition.asv
analysis/pmm/pmmEvent.asv
analysis/pmm/pmmInspect.asv
analysis/pmm/qIsBlockBlockedSameAsInterLeaved-flankerEffect.asv
analysis/pmm/qIsThereAnEffectOfDelay.asv
analysis/pmm/standardFlankerPaperPlot.asv
analysis/pmm/viewBlockedData.asv
analysis/pmm/viewFlankerComparison.asv
analysis/matbugs/bayesSDT/tmp
analysis/eflister/realtimeSpkSorting/dataNet/sortManager.asv
analysis/eflister/compileDetailedRecords.asv
analysis/eflister/compileTrialRecords.asv
analysis/eflister/getSubDirForRack.asv
analysis/cleanUpFigure.asv
analysis/doPlotPercentCorrect.asv
analysis/doQuickInspect.asv
analysis/getCurrentSubjects.asv
analysis/getGoods.asv
analysis/getSmalls.asv
analysis/humanInspect.asv
analysis/inspectRatResponses.asv
analysis/quickInspect.asv
analysis/rlabHist.asv
analysis/savePlotsToPNG.asv
analysis/weeklyReport.asv
bootstrap/physiologyServer.asv
bootstrap/standAloneRun.asv
classes/@RFestimator/getBoundary.asv
classes/@station/startPTB.asv
classes/protocols/criteria/@receptiveFieldCriterion/checkCriterion.asv
classes/protocols/criteria/@receptiveFieldCriterion/receptiveFieldCriterion.asv
classes/protocols/trialManagers/@trialManager/private/createStimSpecsFromParams.asv
classes/protocols/trialManagers/@trialManager/private/runRealTimeLoop.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/calcStim.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/checkDynamicSweep.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/checkFitRF.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/computeSpatialDetails.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/createDiscriminandumContextOnOffMovie.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/drawExpertFrame.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/fillLUT.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/getDefaultParameters.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/ifFeatureGoRightWithTwoFlank.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/inflate.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/physAnalysis.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/setDynamicDetails.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/setDynamicFlicker.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/setPercentCorrectionTrials.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/setStimFromDetails.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/shapeParameter.asv
classes/protocols/stimManagers/@ifFeatureGoRightWithTwoFlank/worthPhysAnalysis.asv
classes/protocols/stimManagers/@coherentDots/extractDetailFields.asv
classes/protocols/stimManagers/@stimManager/enableChunkedPhysAnalysis.asv
classes/protocols/stimManagers/@stimManager/sampleStimFrame.asv
classes/protocols/stimManagers/@stimManager/setMaxWidthAndHeight.asv
classes/protocols/stimManagers/@gratings/drawExpertFrame.asv
classes/protocols/stimManagers/@gratings/physAnalysis.asv
classes/protocols/stimManagers/@whiteNoise/calcStim.asv
classes/protocols/stimManagers/@whiteNoise/drawExpertFrame.asv
classes/protocols/stimManagers/@whiteNoise/fillLUT.asv
classes/protocols/stimManagers/@whiteNoise/physAnalysis.asv
classes/protocols/stimManagers/@whiteNoise/whiteNoise.asv
classes/protocols/stimManagers/@whiteNoise/worthSpikeSorting.asv
classes/protocols/reinforcementManagers/@asymetricReinforcement/asymetricReinforcement.asv
classes/protocols/reinforcementManagers/@asymetricReinforcement/calcReinforcement.asv
classes/util/stimHelpers/assignPorts.asv
classes/util/analysis/calculateFeatures.asv
classes/util/analysis/createDisplayStrs.asv
classes/util/analysis/getPhysRecords.asv
classes/util/analysis/getPxyCRxy.asv
classes/util/analysis/getSignificantSTASpots.asv
classes/util/analysis/getSpikesFromNeuralData.asv
classes/util/analysis/selectDenseEyeRegions.asv
classes/util/trialRecordProcessing/extractFieldAndEnsure.asv
classes/util/trialRecordProcessing/getCorrectExtractedFromField.asv
classes/util/matlaby/blueToRed.asv
classes/util/misc/getLgnCoordinates.asv
