/checkTestDirs.m -text
/doAnalysisPlot.m -text
/fixData.m -text
/compileTrialRecords.m -text
/analysis.m -text
/analysisPlotter.m -text
/loadCompiledTrialRecords.m -text
/getCompiledDirForRack.m -text
/getSubDirForRack.m -text
/subjectAnalysis.m -text
/compileDetailedRecords.m -text
/makePerfBiasPlot.m -text
/detailAnalysis.m -text
/makeConfPlot.m -text
/getCompiledDirForServer.m -text
/getSubDirForServer.m -text
/quickReport.m -text
/ratWeights.m -text
/fitWeights.m -text
/loadDetailedTrialRecords.m -text
realtimeSpkSorting/dataNet/KlustaKwik/macosx-i386/KlustaKwik -text
realtimeSpkSorting/dataNet/KlustaKwik/linux-pentium/KlustaKwik -text
realtimeSpkSorting/dataNet/KlustaKwik/param.h -text
realtimeSpkSorting/dataNet/KlustaKwik/param.c -text
realtimeSpkSorting/dataNet/KlustaKwik/makefile -text
realtimeSpkSorting/dataNet/KlustaKwik/Array.h -text
realtimeSpkSorting/dataNet/KlustaKwik/KlustaKwik.h -text
realtimeSpkSorting/dataNet/KlustaKwik/ReleaseNotes.txt -text
realtimeSpkSorting/dataNet/KlustaKwik/KlustaKwik.C -text
realtimeSpkSorting/dataNet/KlustaKwik/README -text
realtimeSpkSorting/dataNet/setupFakeData.m -text
realtimeSpkSorting/dataNet/makeChunk.m -text
realtimeSpkSorting/dataNet/sliderPanel.m -text
realtimeSpkSorting/dataNet/dhms.m -text
realtimeSpkSorting/dataNet/sortManager.m -text
/getSubDirForServerID.m -text
phys/other/envelope.m -text
phys/other/psth.m -text
phys/other/simulation.m -text
phys/other/export4Kate.m -text
phys/other/doAnalysisPam.m -text
phys/info/getTotalMI.m -text
phys/info/simulatedData.m -text
phys/info/match2nd.m -text
phys/info/gnerateModel.m -text
phys/info/runAnalysisNew.m -text
phys/info/mutualInfo.m -text
phys/info/midDemo.m -text
phys/info/rowConv.m -text
phys/info/getCounts.m -text
phys/info/testLin.m -text
phys/info/doStimReconstruction.m -text
phys/info/normRows.m -text
phys/info/binStim.m -text
phys/info/orthAndFilt.m -text
phys/info/runAnalysis.m -text
phys/info/getSTCandKLdims.m -text
phys/info/scratch.m -text
phys/info/doMID.m -text
phys/info/getIndexedResponses.m -text
phys/info/doHistograms.m -text
phys/info/lookup.m -text
phys/info/doHierarchicalBayes.m -text
phys/doAnalysis.m -text
phys/physToTxt.s2s -text
phys/physAnalysis.m -text
phys/scratch.m -text
phys/compilePhysData.m -text
realtimeSpkSorting/dataNet/eSorter.m -text
phys/edf[!!-~]phys[!!-~]record.ods -text
phys/info/private/normalize.m -text
phys/normalizeByDim.m -text
phys/getNumLines.m -text
phys/doScan.m -text
phys/doWaveforms.m -text
phys/new/helpers/extractPhysRecord.m -text
phys/new/helpers/extractPhysToText.m -text
phys/new/doPhys.m -text
phys/edf[!!-~]phys[!!-~]record.xls -text
