/checkTestDirs.m -text
/doAnalysisPlot.m -text
/fixData.m -text
/compileTrialRecords.m -text
/analysis.m -text
/analysisPlotter.m -text
/loadCompiledTrialRecords.m -text
/getCompiledDirForRack.m -text
/getSubDirForRack.m -text
/subjectAnalysis.m -text
/compileDetailedRecords.m -text
/makePerfBiasPlot.m -text
/detailAnalysis.m -text
/makeConfPlot.m -text
/getCompiledDirForServer.m -text
/getSubDirForServer.m -text
