/getMiniDatabaseFact.m -text
/addTheseRats.m -text
/setShapingPMM.m -text
/setLeftAndRightContrastInParameterStruct.m -text
/viewRatrixObjects.m -text
/setValuesFromMiniDatabase.m -text
/setAcuity.m -text
/setFlankerStimRewardAndTrialManager.m -text
/getMiniDatabase.m -text
/setCurrentShapedValueFromMiniDatabase.m -text
/standAloneTestPMM.m -text
/generateProtocolName.m -text
/makeFreeDrinksTM.m -text
/makeMiniDatabase.m -text
/runRatTest.m -text
/setupPMM.m -text
/setHumanExpt.m -text
