/replicateClientTrialRecords.m -text
/getClientIdent.m -text
/stopAcceptingConnections.m -text
/commandsAvailable.m -text
/rewardClient.m -text
/startPrime.m -text
/writeSVNUpdateCommand.m -text
/getServer.m -text
/parsetest.m -text
/clearTemporaryFiles.m -text
/waitForAck.m -text
/sendToClient.m -text
/getZoneForClient.m -text
/isSameOrHigherPriority.m -text
/doTimeHists.m -text
/registerClient.m -text
/getClientId.m -text
/sendFileToServer.m -text
/getMinPriority.m -text
/remoteClientShutdown.m -text
/isClientReregistered.m -text
/checkForSpecificCommands.m -text
/getSortedPrioritiesHighestFirst.m -text
/removeAllDisconnectedClients.m -text
/clientAcceptReward.m -text
/isValidStatus.m -text
/disconnectClient.m -text
/unregisterClient.m -text
/rnet.m -text
/shutdown.m -text
/clientReregistered.m -text
/getClient.m -text
/clientHandleCommand.m -text
/validateCommand.m -text
/packageObjectArgument.m -text
/clientHandleVerifiedCommand.m -text
/getClientMACaddress.m -text
/getNextCommand.m -text
/svnUpdate.m -text
/checkAck.m -text
/isConnected.m -text
/getNextClient.m -text
/getMaxPriority.m -text
/isValidError.m -text
/checkForSpecificCommand.m -text
/getConstants.m -text
/serverHandleCommand.m -text
/sendError.m -text
/isValidPriority.m -text
/waitForSpecificCommand.m -text
/sendAcknowledge.m -text
/clientIsRegistered.m -text
/reconnect.m -text
/isValidClientCommand.m -text
/resetRequested.m -text
/stopPrime.m -text
/listClients.m -text
/sendToServer.m -text
/checkForSpecificPriority.m -text
/packageArguments.m -text
/updateRatrixFromClientRatrix.m -text
/waitForCommands.m -text
