/accessSpyder.m -text
/closeSpyder.m -text
/recordData.m -text
/startDaqControllerForTwoComputerCalibration.m -text
/calculateIntensityPerFrame.m -text
/openSpyder.m -text
/openNidaqForAnalogRecording.m -text
/spyderError.m -text
