/updateTrialRecordsForSubjectID.m -text
/getTrialRecordsForSubjectID.m -text
/getBoxPathForSubjectID.m -text
/getID.m -text
/getPath.m -text
/testBoxSubjectDir.m -text
/clearSubjectDataDir.m -text
/display.m -text
/box.m -text
