/goodies.m -text
protocols/schedulers/@minutesPerSession/display.m -text
protocols/schedulers/@minutesPerSession/minutesPerSession.m -text
protocols/schedulers/@minutesPerSession/getCurrentHoursBetweenSession.m -text
protocols/schedulers/@minutesPerSession/checkSchedule.m -text
protocols/criteria/@parameterThresholdCriterion/checkCriterion.m -text
protocols/criteria/@parameterThresholdCriterion/rateCriterion.m -text
protocols/criteria/@parameterThresholdCriterion/display.m -text
protocols/criteria/@parameterThresholdCriterion/parameterThresholdCriterion.m -text
protocols/@stimSpec/getFramesUntilTransition.m -text
protocols/@stimSpec/getRewardType.m -text
protocols/@stimSpec/getRewardDuration.m -text
protocols/@stimSpec/getStim.m -text
protocols/@stimSpec/stimSpec.m -text
protocols/@stimSpec/stimSpec.asv -text
protocols/@stimSpec/getCriterion.m -text
protocols/@stimSpec/getStochasticDistribution.m -text
protocols/@stimSpec/getStimType.m -text
protocols/trialManagers/@promptedNAFC/promptedNAFC.m -text
protocols/trialManagers/@promptedNAFC/stimOGL.m -text
protocols/trialManagers/@promptedNAFC/doTrial.m -text
protocols/trialManagers/@promptedNAFC/stationOKForTrialManager.m -text
protocols/trialManagers/@promptedNAFC/getRequestPorts.m -text
protocols/trialManagers/@promptedNAFC/getPromptLikelihood.m -text
protocols/trialManagers/@phasedTrialManager/getRequestPorts.m -text
protocols/trialManagers/@phasedTrialManager/doTrial.m -text
protocols/trialManagers/@phasedTrialManager/getPhases.m -text
protocols/trialManagers/@phasedTrialManager/phasedTrialManager.m -text
protocols/trialManagers/@phasedTrialManager/getPhaseCriteria.m -text
protocols/trialManagers/@phasedTrialManager/getResponsePorts.m -text
protocols/trialManagers/@phasedTrialManager/stimOGL.m -text
protocols/trialManagers/@phasedTrialManager/getRequestRewardSizeULorMS.m -text
protocols/trialManagers/@phasednAFC/getRequestRewardSizeULorMS.m -text
protocols/trialManagers/@phasednAFC/getRequestPorts.m -text
protocols/trialManagers/@phasednAFC/phasednAFC.asv -text
protocols/trialManagers/@phasednAFC/getPhases.m -text
protocols/trialManagers/@phasednAFC/stationOKForTrialManager.m -text
protocols/trialManagers/@phasednAFC/getResponsePorts.m -text
protocols/trialManagers/@phasednAFC/getPhaseCriteria.m -text
protocols/trialManagers/@phasednAFC/phasednAFC.m -text
protocols/stimManagers/@examplePhased/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@examplePhased/fillLUT.m -text
protocols/stimManagers/@examplePhased/getLUT.m -text
protocols/stimManagers/@examplePhased/setScaleFactor.m -text
protocols/stimManagers/@examplePhased/calcStim.asv -text
protocols/stimManagers/@examplePhased/flushLUT.m -text
protocols/stimManagers/@examplePhased/examplePhased.m -text
protocols/stimManagers/@examplePhased/calcStim.m -text
protocols/stimManagers/@crossModal/crossModal.m -text
protocols/stimManagers/@crossModal/display.m -text
protocols/stimManagers/@crossModal/calcStim.m -text
protocols/stimManagers/@crossModal/getAudioStimulus.m -text
protocols/stimManagers/@crossModal/stimMgrOKForTrialMgr.m -text
protocols/soundTypes/@startCorrect/shouldWePlay.m -text
protocols/soundTypes/@startCorrect/startCorrect.m -text
protocols/soundTypes/@responseWait/shouldWePlay.m -text
protocols/soundTypes/@responseWait/responseWait.m -text
protocols/soundTypes/@soundType/getName.m -text
protocols/soundTypes/@soundType/soundType.m -text
protocols/soundTypes/@soundType/soundTypeToString.asv -text
protocols/soundTypes/@soundType/getDuration.m -text
protocols/soundTypes/@soundType/soundType.asv -text
protocols/soundTypes/@soundType/soundTypesToCellArray.m -text
protocols/soundTypes/@soundType/soundTypeToString.m -text
protocols/soundTypes/@soundType/setDuration.m -text
protocols/soundTypes/@startWrong/startWrong.m -text
protocols/soundTypes/@startWrong/shouldWePlay.m -text
protocols/soundTypes/@requestWait/shouldWePlay.m -text
protocols/soundTypes/@requestWait/requestWait.m -text
db/cpath/ClassPathHacker.java -text
db/@dbConn/copyAndAddTrialRecordFile.m -text
db/@dbConn/getHeats.m -text
db/@dbConn/getStation.m -text
db/@dbConn/closeConn.m -text
db/@dbConn/getStations.m -text
db/@dbConn/getTrialRecordFiles.m -text
db/@dbConn/getSubjects.m -text
db/@dbConn/getAssignments.m -text
db/@dbConn/dbConn.m -text
db/@dbConn/exec.m -text
db/@dbConn/compareTrialRecordFileNames.m -text
db/@dbConn/getBodyWeightHistory.m -text
db/@dbConn/addTrialRecordFile.m -text
db/@dbConn/getStationsOnRack.m -text
db/@dbConn/query.m -text
db/@dbConn/getSubject.m -text
db/@dbConn/removeTrialRecordFile.m -text
db/@dbConn/getStationFromMac.m -text
db/openDBConnection.m -text
db/finalizeDBPaths.m -text
db/cpath.jar -text
db/setupDBPaths.m -text
db/newconntest.m -text
db/classes12_g.jar -text
protocols/eyeTrackers/@geometricTracker/geometricTracker.m -text
protocols/eyeTrackers/@geometricTracker/getGazeEstimate.m -text
protocols/eyeTrackers/@geometricTracker/calibrate.m -text
protocols/eyeTrackers/@eyeLinkTracker/cleanUp.m -text
protocols/eyeTrackers/@eyeLinkTracker/checkRecording.m -text
protocols/eyeTrackers/@eyeLinkTracker/start.m -text
protocols/eyeTrackers/@eyeLinkTracker/stop.m -text
protocols/eyeTrackers/@eyeLinkTracker/getSample.m -text
protocols/eyeTrackers/@eyeLinkTracker/initialize.m -text
protocols/eyeTrackers/@eyeLinkTracker/eyeLinkTracker.m -text
protocols/eyeTrackers/@eyeLinkTracker/getCurrentCalibrationValues.m -text
protocols/eyeTrackers/@eyeTracker/setIsTracking.m -text
protocols/eyeTrackers/@eyeTracker/setSessionFileName.m -text
protocols/eyeTrackers/@eyeTracker/testEyeData.m -text
protocols/eyeTrackers/@eyeTracker/eyeTracker.m -text
protocols/eyeTrackers/@eyeTracker/calibrate.m -text
protocols/eyeTrackers/@eyeTracker/getEyeDataPath.m -text
protocols/eyeTrackers/@eyeTracker/isTracking.m -text
protocols/eyeTrackers/@eyeTracker/setEyeDataPath.m -text
protocols/eyeTrackers/@eyeTracker/saveEyeData.m -text
protocols/eyeTrackers/@eyeTracker/getSessionFileName.m -text
protocols/trialManagers/@promptedNAFC/calibrateEyeTracker.m -text
protocols/reinforcementManagers/@rewardNcorrectInARow/rewardNcorrectInARow.m -text
protocols/reinforcementManagers/@rewardNcorrectInARow/display.m -text
protocols/reinforcementManagers/@rewardNcorrectInARow/calcReinforcement.m -text
protocols/reinforcementManagers/@constantReinforcement/display.m -text
protocols/reinforcementManagers/@constantReinforcement/calcReinforcement.m -text
protocols/reinforcementManagers/@constantReinforcement/constantReinforcement.m -text
protocols/reinforcementManagers/@constantReinforcement/shortDisp.m -text
protocols/reinforcementManagers/@reinforcementManager/getMsPuff.m -text
protocols/reinforcementManagers/@reinforcementManager/setScalar.m -text
protocols/reinforcementManagers/@reinforcementManager/cache.m -text
protocols/reinforcementManagers/@reinforcementManager/setMsPenalty.m -text
protocols/reinforcementManagers/@reinforcementManager/reinforcementManager.m -text
protocols/reinforcementManagers/@reinforcementManager/getScalar.m -text
protocols/reinforcementManagers/@reinforcementManager/getImmutable.m -text
protocols/reinforcementManagers/@reinforcementManager/display.m -text
protocols/reinforcementManagers/@reinforcementManager/getFractionPenaltySoundIsOn.m -text
protocols/reinforcementManagers/@reinforcementManager/getFractionOpenTimeSoundIsOn.m -text
protocols/reinforcementManagers/@reinforcementManager/getMsPenalty.m -text
protocols/reinforcementManagers/@reinforcementManager/calcCommonValues.m -text
db/@dbConn/getBodyWeightHistory.m.new -text
db/@dbConn/reconcileTrialRecordFileNames.m -text
db/@dbConn/getAssignmentsForServer.m -text
db/@dbConn/getCoachAssignmentsForServer.m -text
db/@dbConn/getAllRackIDs.m -text
db/@dbConn/getStationsByRoom.m -text
db/@dbConn/getSubjectIDsFromServer.m -text
protocols/stimManagers/@crossModal/extractDetailFields.m -text
protocols/stimManagers/@crossModal/analysis.m -text
protocols/stimManagers/@crossModal/testAnalysis.m -text
db/@dbConn/getRacksAndRoomsFromServerName.m -text
db/@dbConn/getPermanentStorePathBySubject.m -text
protocols/stimManagers/@flicker/hateren.m -text
protocols/stimManagers/@filteredNoise/private/computeFilteredNoise.m -text
protocols/stimManagers/@filteredNoise/private/grainedNoise.m -text
protocols/stimManagers/@filteredNoise/filteredNoise.m -text
protocols/stimManagers/@filteredNoise/calcStim.m -text
protocols/stimManagers/@filteredNoise/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@filteredNoise/private/loadStimFile.m -text
db/@dbConn/getStationsForServer.m -text
db/@dbConn/getAllSubjects.m -text
db/@dbConn/getServers.m -text
