protocols/schedulers/@minutesPerSession/display.m -text
protocols/schedulers/@minutesPerSession/minutesPerSession.m -text
protocols/schedulers/@minutesPerSession/getCurrentHoursBetweenSession.m -text
protocols/schedulers/@minutesPerSession/checkSchedule.m -text
protocols/criteria/@parameterThresholdCriterion/checkCriterion.m -text
protocols/criteria/@parameterThresholdCriterion/rateCriterion.m -text
protocols/criteria/@parameterThresholdCriterion/display.m -text
protocols/criteria/@parameterThresholdCriterion/parameterThresholdCriterion.m -text
protocols/@stimSpec/getFramesUntilTransition.m -text
protocols/@stimSpec/getStim.m -text
protocols/@stimSpec/stimSpec.m -text
protocols/@stimSpec/getStochasticDistribution.m -text
protocols/@stimSpec/getStimType.m -text
protocols/stimManagers/@crossModal/crossModal.m -text
protocols/stimManagers/@crossModal/display.m -text
protocols/stimManagers/@crossModal/calcStim.m -text
protocols/stimManagers/@crossModal/getAudioStimulus.m -text
protocols/stimManagers/@crossModal/stimMgrOKForTrialMgr.m -text
db/cpath/ClassPathHacker.java -text
db/@dbConn/copyAndAddTrialRecordFile.m -text
db/@dbConn/getHeats.m -text
db/@dbConn/getStation.m -text
db/@dbConn/closeConn.m -text
db/@dbConn/getStations.m -text
db/@dbConn/getTrialRecordFiles.m -text
db/@dbConn/getSubjects.m -text
db/@dbConn/getAssignments.m -text
db/@dbConn/dbConn.m -text
db/@dbConn/exec.m -text
db/@dbConn/compareTrialRecordFileNames.m -text
db/@dbConn/getBodyWeightHistory.m -text
db/@dbConn/addTrialRecordFile.m -text
db/@dbConn/getStationsOnRack.m -text
db/@dbConn/query.m -text
db/@dbConn/getSubject.m -text
db/@dbConn/removeTrialRecordFile.m -text
db/@dbConn/getStationFromMac.m -text
db/openDBConnection.m -text
db/finalizeDBPaths.m -text
db/cpath.jar -text
db/setupDBPaths.m -text
db/newconntest.m -text
db/classes12_g.jar -text
protocols/reinforcementManagers/@rewardNcorrectInARow/rewardNcorrectInARow.m -text
protocols/reinforcementManagers/@rewardNcorrectInARow/display.m -text
protocols/reinforcementManagers/@rewardNcorrectInARow/calcReinforcement.m -text
protocols/reinforcementManagers/@constantReinforcement/display.m -text
protocols/reinforcementManagers/@constantReinforcement/calcReinforcement.m -text
protocols/reinforcementManagers/@constantReinforcement/constantReinforcement.m -text
protocols/reinforcementManagers/@constantReinforcement/shortDisp.m -text
protocols/reinforcementManagers/@reinforcementManager/getMsPuff.m -text
protocols/reinforcementManagers/@reinforcementManager/setScalar.m -text
protocols/reinforcementManagers/@reinforcementManager/cache.m -text
protocols/reinforcementManagers/@reinforcementManager/setMsPenalty.m -text
protocols/reinforcementManagers/@reinforcementManager/reinforcementManager.m -text
protocols/reinforcementManagers/@reinforcementManager/getScalar.m -text
protocols/reinforcementManagers/@reinforcementManager/getImmutable.m -text
protocols/reinforcementManagers/@reinforcementManager/display.m -text
protocols/reinforcementManagers/@reinforcementManager/getFractionPenaltySoundIsOn.m -text
protocols/reinforcementManagers/@reinforcementManager/getFractionOpenTimeSoundIsOn.m -text
protocols/reinforcementManagers/@reinforcementManager/getMsPenalty.m -text
protocols/reinforcementManagers/@reinforcementManager/calcCommonValues.m -text
db/@dbConn/getBodyWeightHistory.m.new -text
db/@dbConn/reconcileTrialRecordFileNames.m -text
db/@dbConn/getAssignmentsForServer.m -text
db/@dbConn/getCoachAssignmentsForServer.m -text
db/@dbConn/getAllRackIDs.m -text
db/@dbConn/getStationsByRoom.m -text
db/@dbConn/getSubjectIDsFromServer.m -text
protocols/stimManagers/@crossModal/extractDetailFields.m -text
protocols/stimManagers/@crossModal/analysis.m -text
protocols/stimManagers/@crossModal/testAnalysis.m -text
db/@dbConn/getRacksAndRoomsFromServerName.m -text
db/@dbConn/getPermanentStorePathBySubject.m -text
protocols/stimManagers/@flicker/hateren.m -text
protocols/stimManagers/@filteredNoise/private/computeFilteredNoise.m -text
protocols/stimManagers/@filteredNoise/private/grainedNoise.m -text
protocols/stimManagers/@filteredNoise/filteredNoise.m -text
protocols/stimManagers/@filteredNoise/calcStim.m -text
protocols/stimManagers/@filteredNoise/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@filteredNoise/private/loadStimFile.m -text
db/@dbConn/getStationsForServer.m -text
db/@dbConn/getAllSubjects.m -text
db/@dbConn/getServers.m -text
db/@dbConn/getCompilePathBySubject.m -text
db/@dbConn/getFreeWaterHistory.m -text
protocols/reinforcementManagers/@constantReinforcement/setRewardSizeULorMS.m -text
protocols/reinforcementManagers/@reinforcementManager/setReinforcementParam.m -text
protocols/stimManagers/@filteredNoise/decache.m -text
@datanet/stop.m -text
@datanet/getConstants.m -text
@datanet/startDataListener.m -text
@datanet/getStorePath.m -text
@datanet/sendCommandAndWaitForAck.m -text
@datanet/connectToDataListener.m -text
@datanet/setStorePath.m -text
@datanet/datanet.m -text
@datanet/waitForCommandsAndSendAck.m -text
@datanet/runDataListener.m -text
@datanet/getCon.m -text
@datanet/getTrialData.m -text
@datanet/setup.m -text
protocols/criteria/@numTrialsDoneCriterion/checkCriterion.m -text
protocols/criteria/@numTrialsDoneCriterion/numTrialsDoneCriterion.m -text
protocols/criteria/@receptiveFieldCriterion/receptiveFieldCriterion.m -text
protocols/criteria/@receptiveFieldCriterion/checkCriterion.m -text
protocols/@stimSpec/getIsFinalPhase.m -text
protocols/trialManagers/@autopilot/autopilot.m -text
protocols/trialManagers/@autopilot/stationOKForTrialManager.m -text
protocols/trialManagers/@autopilot/getResponsePorts.m -text
protocols/stimManagers/@fullField/fullField.m -text
protocols/stimManagers/@fullField/getLUT.m -text
protocols/stimManagers/@fullField/flushLUT.m -text
protocols/stimManagers/@fullField/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@fullField/fillLUT.m -text
protocols/stimManagers/@fullField/calcStim.m -text
protocols/stimManagers/@bipartiteField/drawExpertFrame.m -text
protocols/stimManagers/@bipartiteField/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@bipartiteField/bipartiteField.m -text
protocols/stimManagers/@bipartiteField/getLUT.m -text
protocols/stimManagers/@bipartiteField/calcStim.m -text
protocols/stimManagers/@bipartiteField/fillLUT.m -text
protocols/stimManagers/@bipartiteField/flushLUT.m -text
protocols/stimManagers/@gratings/gratings.m -text
protocols/stimManagers/@gratings/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@gratings/flushLUT.m -text
protocols/stimManagers/@gratings/drawExpertFrame.m -text
protocols/stimManagers/@gratings/calcStim.m -text
protocols/stimManagers/@gratings/fillLUT.m -text
protocols/stimManagers/@gratings/getLUT.m -text
protocols/stimManagers/@whiteNoise/calcStim.m -text
protocols/stimManagers/@whiteNoise/whiteNoise.m -text
protocols/stimManagers/@whiteNoise/flushLUT.m -text
protocols/stimManagers/@whiteNoise/fillLUT.m -text
protocols/stimManagers/@whiteNoise/drawExpertFrame.m -text
protocols/stimManagers/@whiteNoise/stimMgrOKForTrialMgr.m -text
protocols/stimManagers/@whiteNoise/physAnalysis.m -text
protocols/stimManagers/@whiteNoise/getLUT.m -text
protocols/@stimSpec/setStim.m -text
protocols/stimManagers/@gratings/extractDetailFields.m -text
protocols/stimManagers/@fullField/extractDetailFields.m -text
protocols/stimManagers/@bipartiteField/extractDetailFields.m -text
protocols/stimManagers/@whiteNoise/extractDetailFields.m -text
protocols/@stimSpec/getScaleFactor.m -text
protocols/@stimSpec/getStartFrame.m -text
protocols/@stimSpec/getHz.m -text
protocols/@stimSpec/getPhaseType.m -text
protocols/@stimSpec/getTransitions.m -text
protocols/reinforcementManagers/@reinforcementManager/getRequestRewardSizeULorMS.m -text
protocols/reinforcementManagers/@reinforcementManager/getRequestMode.m -text
protocols/reinforcementManagers/@reinforcementManager/setRequestRewardSizeULorMS.m -text
protocols/@stimSpec/getPhaseLabel.m -text
protocols/@stimSpec/setFramesUntilTransition.m -text
protocols/@stimSpec/setScaleFactor.m -text
protocols/stimManagers/@filteredNoise/private/checkHateren.m -text
protocols/stimManagers/@gratings/physAnalysis.m -text
@datanet/cleanup.m -text
@datanet/loadobj.m -text
@RFestimator/RFestimator.m -text
@RFestimator/getCenter.m -text
@RFestimator/getDataSource.m -text
eyeTrackers/@geometricTracker/geometricTracker.m -text
eyeTrackers/@geometricTracker/calibrate.m -text
eyeTrackers/@geometricTracker/getGazeEstimate.m -text
eyeTrackers/@eyeLinkTracker/old[!!-~]dev/fixationSoundDemo.m -text
eyeTrackers/@eyeLinkTracker/old[!!-~]dev/getExtendedEyelinkData.c -text
eyeTrackers/@eyeLinkTracker/old[!!-~]dev/eyelinkTest.m -text
eyeTrackers/@eyeLinkTracker/setEyeUsed.m -text
eyeTrackers/@eyeLinkTracker/stop.m -text
eyeTrackers/@eyeLinkTracker/getCurrentCalibrationValues.m -text
eyeTrackers/@eyeLinkTracker/checkRecording.m -text
eyeTrackers/@eyeLinkTracker/setConstants.m -text
eyeTrackers/@eyeLinkTracker/cleanUp.m -text
eyeTrackers/@eyeLinkTracker/getSamples.m -text
eyeTrackers/@eyeLinkTracker/eyeLinkTracker.m -text
eyeTrackers/@eyeLinkTracker/initialize.m -text
eyeTrackers/@eyeLinkTracker/start.m -text
eyeTrackers/@eyeLinkTracker/getConstants.m -text
eyeTrackers/@eyeTracker/eyeTracker.m -text
eyeTrackers/@eyeTracker/getEyeDataPath.m -text
eyeTrackers/@eyeTracker/setSessionFileName.m -text
eyeTrackers/@eyeTracker/getFramesPerAllocationChunk.m -text
eyeTrackers/@eyeTracker/saveEyeData.m -text
eyeTrackers/@eyeTracker/setIsTracking.m -text
eyeTrackers/@eyeTracker/testEyeData.m -text
eyeTrackers/@eyeTracker/getSessionFileName.m -text
eyeTrackers/@eyeTracker/clearEyeDataPath.m -text
eyeTrackers/@eyeTracker/calibrate.m -text
eyeTrackers/@eyeTracker/isTracking.m -text
eyeTrackers/@eyeTracker/setEyeDataPath.m -text
eyeTrackers/@eyeLinkTracker/old[!!-~]dev/eyelinkQueuedDataTest.m -text
@RFestimator/getBoundary.m -text
protocols/@stimSpec/isStim.m -text
eyeTrackers/@eyeLinkTracker/getEyeDataVarNames.m -text
protocols/@stimSpec/getIndexPulse.m -text
protocols/@stimSpec/getLockoutDuration.m -text
protocols/trialManagers/@goNoGo/getResponseLockoutMs.m -text
protocols/trialManagers/@goNoGo/goNoGo.m -text
protocols/trialManagers/@goNoGo/getResponsePorts.m -text
protocols/trialManagers/@goNoGo/getRequestRewardSizeULorMS.m -text
protocols/trialManagers/@goNoGo/updateTrialState.m -text
protocols/trialManagers/@goNoGo/stationOKForTrialManager.m -text
db/@dbConn/clearBLOB.m -text
protocols/@stimSpec/getPunishResponses.m -text
protocols/delayManagers/@delayManager/delayManager.m -text
protocols/delayManagers/@hazard/hazard.m -text
protocols/delayManagers/@hazard/calcAutoRequest.m -text
db/@dbConn/getCLUT.m -text
db/@dbConn/updateCLUT.m -text
