/getID.m -text
/doTrials.m -text
/readPorts.m -text
/verifyValvesClosed.m -text
/station.m -text
/getNumPorts.m -text
/startPTB.m -text
/stopPTB.m -text
/setValves.m -text
/getRewardMethod.m -text
/display.m -text
/getValves.m -text
/framePulse.m -text
/setSoundOn.m -text
/getPhysicalLocation.m -text
/getMACaddress.m -text
/getSoundOn.m -text
/getResponseMethod.m -text
/setAndCheckValves.m -text
/getCurrentSubject.m -text
/getPath.m -text
/doFlush.m -text
/doReward.m -text
/hasAirpuff.m -text
/checkPath.m -text
/setPuff.m -text
/getResolutions.m -text
/getLUTbits.m -text
/setResolution.m -text
/getIFI.m -text
/getDisplaySize.m -text
/getPTBWindow.m -text
/doPrime.m -text
/setMACaddress.m -text
/flushPorts.m -text
