/getMaxWidth.m -text
/getMaxHeight.m -text
/display.m -text
/errorStim.m -text
/getScaleFactor.m -text
/stimManager.m -text
/getInterTrialLuminance.m -text
/decache.m -text
/sampleStimFrame.m -text
/getCurrentShapedValue.m -text
/extractDetailFields.m -text
/extractBasicFields.m -text
/handleExtractDetailFieldsException.m -text
/analysis.m -text
/getSoundsToPlay.m -text
/stationOKForStimManager.m -text
/getNameFragment.m -text
/boxOKForStimManager.m -text
/canForceStimDetails.m -text
/hasUpdatablePercentCorrectionTrial.m -text
/getPercentCorrectionTrials.m -text
/physAnalysis.m -text
/correctStim.m -text
/setMaxWidthAndHeight.m -text
/worthPhysAnalysis.m -text
/enableChunkedPhysAnalysis.m -text
/checkTargetIsPresent.m -text
/compareStimRecords.m -text
/commonNameForStim.m -text
/expertPostTrialCleanUp.m -text
/postScreenResetCheckAndOrCache.m -text
