/getMaxWidth.m -text
/getMaxHeight.m -text
/display.m -text
/errorStim.m -text
/getScaleFactor.m -text
/stimManager.m -text
/getInterTrialLuminance.m -text
/decache.m -text
/sampleStimFrame.m -text
/getCurrentShapedValue.m -text
