/setPixPerCycle.m -text
/setCalibrationModeOn.m -text
/checkReinforcementManager.m -text
/doDynamicPTBFrame.m -text
/findTotalCalibrationFrames.m -text
/errorCheck.m -text
/getAmplitudeOfLuminanceData.m -text
/checkShapingValues.m -text
/getCalibrationPositionFrame.m -text
/doCalibration.m -text
/getStimPatch.m -text
/calcStimBeta.m -text
/qualityCheck.m -text
/flushLUT.m -text
/selectStimulusParameters.m -text
/seeCalibrationResults.m -text
/calcStim.m -text
/stimIsCached.m -text
/setTargetOrientation.m -text
/getRewardSize.m -text
/getOrientationCalibration.m -text
/setCalibrationMethod.m -text
/getFrameChangeTimes.m -text
/ifFeatureGoRightWithTwoFlankTrialManager.m -text
/fillLUT.m -text
/getCalibrationStruct.m -text
/getFeaturePatchStim.m -text
/getStimDetails.m -text
/deflate.m -text
/inflate.m -text
/setTypeOfLUT.m -text
/getRequestRewardSize.m -text
/createDiscriminandumContextOnOffMovie.m -text
/setCalibrationFrame.m -text
/shapeParameter.m -text
/getCalibrationFrame.m -text
/getOrientation.m -text
/getCalibrationSettings.m -text
/getLUT.m -text
/acceptableNumberOfFramesPerBatch.m -text
/setSeed.m -text
/addToLumStruct.m -text
/getAnalysisFields.m -text
/getCalibration.m -text
/getDefaultParameters.m -text
/getNumCalibrationBatches.m -text
/getAmplitudeFromFlum.m -text
/makeContrastStruct.m -text
/getNumFramesNextCalibrationBatch.m -text
/doUniqueRepeatDriftFrame.m -text
