/closeConn.m -text
/getBodyWeightHistory.m -text
/getStation.m -text
/getStationsOnRack.m -text
/getSubjects.m -text
/getStations.m -text
/getHeats.m -text
/query.m -text
/getAssignments.m -text
/dbConn.m -text
/getStationFromMac.m -text
