/checkStationAcknowledgeSince.m -text
/testAllSubjectBoxAndStationDirs.m -text
/makeAllSubjectServerDirectories.m -text
/saveDB.m -text
/stopStation.m -text
/getSubjectDataPath.m -text
/makeSubjectServerDirectory.m -text
/litterCheck.m -text
/getStationInds.m -text
/recordInLog.m -text
/getServerDataPathForSubjectID.m -text
/testBoxSubjectAndStationDirs.m -text
/testBoxSubjectDirs.m -text
/writeObjectsToStationAndStart.m -text
