/setProtocolDEMO.m -text
setupMaleRoom/setupMaleRoom.m -text
setupEDF/getEDFids.m -text
setupEDF/setProtocolDFP.rack2backup.m -text
setupEDF/setProtocolEDF.m -text
setupEDF/setProtocolEDF.old.m -text
setupBS/getPuffMS.m -text
setupBS/makeProtocol.m -text
setupBS/setProtocolBS.m -text
setupBS/getBSids.m -text
setupEDF/makeEDFProtocol.m -text
setupBS/getStepNum.m -text
setupBS/History.m -text
/setProtocolTEST.m -text
setupBS/getRewardDuration.m -text
setupBS/getMSPenalty.m -text
/setProtocolPhased.m -text
setupPhysRig1/setProtocolPhys.m -text
setupEDF/setProtocolEDFtemp.m -text
setupEDF/pumpify.m -text
setupEDF/setPumpRewards.m -text
runOnce/firstMakeRatrix.m -text
runOnce/addTestRats.m -text
runOnce/addRatsForRack.m -text
runOnce/createRatrixWithStationsForRack.m -text
runOnce/createRatrixWithDefaultStations.m -text
util/setRewardULorMS.m -text
util/reportSettings.m -text
util/getRatLayout.m -text
util/setReinforcementParam.m -text
util/setStepNum.m -text
util/init.m -text
util/setPenaltyMS.m -text
runOnce/createRatrixWithStationsForServer.m -text
setupPhysRig1/setProtocolPhys2.m -text
runOnce/addRatsForServer.m -text
util/setRequestRewardULorMS.m -text
setupBS/setProtocolBSStAl.m -text
setupPhysRig1/setProtocolPhys3.m -text
setupBS/physSetups/setProtocolPhys3.m -text
setupBS/physSetups/ctxQckNDirtyPtcl.m -text
setupBS/physSetups/ctxCharPtcl.m -text
