/addRatsForRack.m -text
/getRatLayout.m -text
/reportSettings.m -text
/firstMakeRatrix.m -text
/createRatrixWithDefaultStations.m -text
/addTestRats.m -text
/setProtocolDEMO.m -text
/createRatrixWithStationsForRack.m -text
setupMaleRoom/setupMaleRoom.m -text
setupEDF/getEDFids.m -text
setupEDF/setProtocolDFP.rack2backup.m -text
setupEDF/setProtocolEDF.m -text
setupEDF/setProtocolEDF.old.m -text
setupBS/getPuffMS.m -text
setupBS/makeProtocol.m -text
setupBS/setProtocolBS.m -text
setupBS/getBSids.m -text
setupEDF/makeEDFProtocol.m -text
setupBS/getStepNum.m -text
setupBS/History.m -text
/setProtocolTEST.m -text
