/ratrixAnalysis.m -text
/inspectValveErrors.m -text
/loadRatrixData.m -text
pmm/analyze102.m -text
pmm/temporalROC.m -text
pmm/compareLeftRightRuns.m -text
pmm/pmmInspect.m -text
pmm/filterFlankerStatistics.m -text
pmm/exploreDPrime.m -text
/doPlotPercentCorrect.m -text
/colorplot.m -text
/cleanUpFigure.m -text
/removeSomeSmalls.m -text
/doQuickInspect.m -text
/inspectRatResponses.m -text
/dprime.m -text
/getBodyWeightHistory.m -text
/reportBias.m -text
/dprimePerConditonPerDay.m -text
/findResponsePatterns.m -text
/getSmalls.m -text
/makeDailyRaster.m -text
/getSessionStartAndEnd.m -text
/getCurrentSubjects.m -text
/getStepStateFromRecords.m -text
/simpleExample.m -text
/getGoods.m -text
/doPlot.m -text
/analysisDaemon.m -text
/calcDailyRewards.m -text
/savePlotsToPNG.m -text
/quickInspect.m -text
/fullscreen.m -text
/calcAmountCorrectInRow.m -text
/getSideCorrectContext.m -text
/moveLargeDataAndAddExplicitTrialNumbers.m -text
/weeklyReport.m -text
/plotBodyWeights.m -text
pmm/bigLick.m -text
pmm/getDprMesh.m -text
pmm/analyzePerContextualState.m -text
pmm/megaTrials.m -text
pmm/analyze117.m -text
obselete/combineTwoSmallDataFiles.m -text
obselete/convertLargeToSmallData.m -text
obselete/getSaveLog.m -text
obselete/getDateListForBlocks.m -text
obselete/selectSubsetOfDataFiles.m -text
obselete/getPathsForThisSubjectsData.m -text
obselete/makeLargeDataChunk.m -text
obselete/getRatrixDataFromStation.m -text
obselete/getSessionIDsFromFilePaths.m -text
obselete/getRatrixFilesFromStation.m -text
obselete/findStationsForSubject.m -text
obselete/initializeSubjectStorageIfNeeded.m -text
obselete/getDataStorageIPAndPath.m -text
obselete/addToSaveLog.m -text
obselete/createSavedDataName.m -text
obselete/initializeSaveLogIndToEmpty.m -text
obselete/makeFoldersIfTheyDontExist.m -text
obselete/overwriteRatices.m -text
obselete/findIPforStation.m -text
obselete/getStepNumFromRemoteRatrix.m -text
pmm/getDataCosyne2008.m -text
pmm/humanPsychAnalysis.m -text
pmm/checkCosyneRats.m -text
pmm/peekAtData.m -text
pmm/getFlankerConditionInds.m -text
pmm/flankerAnalysis.m -text
pmm/plotPerformancePerContrastPerCondition.m -text
pmm/plotPerformancePerValuePerCondition.m -text
pmm/recoverStepTransition.m -text
pmm/peekAtDataNoFlanks.m -text
pmm/doSubjectFlankerAnalysis.m -text
pmm/getPlotParameters.m -text
pmm/makeSfnSummary.m -text
pmm/allToSmall.m -text
bsriram/doAnalysis.m -text
bsriram/nonStandard/changeEyepuffStatus.m -text
bsriram/oldAnalysis/plotPerCorrect.m -text
bsriram/oldAnalysis/getPerCorrect.m -text
bsriram/oldAnalysis/getCorrects.m -text
bsriram/oldAnalysis/getResponses.m -text
bsriram/oldAnalysis/getTargets.m -text
bsriram/oldAnalysis/getNotrials.m -text
bsriram/oldAnalysis/getGoods.m -text
bsriram/oldAnalysis/getCorrections.m -text
bsriram/oldAnalysis/getTrials.m -text
bsriram/oldAnalysis/plotEntropy.m -text
bsriram/oldAnalysis/getSmooth.m -text
bsriram/oldAnalysis/plotBias.m -text
bsriram/oldAnalysis/getITI.m -text
bsriram/oldAnalysis/plotEntropyofPattern.m -text
bsriram/oldAnalysis/plotITI.m -text
bsriram/oldAnalysis/compressData.m -text
bsriram/oldAnalysis/getDates.m -text
bsriram/oldAnalysis/plotNoTrials.m -text
bsriram/oldAnalysis/changeDateFormat.m -text
bsriram/nonStandard/addSessionNumber.m -text
bsriram/nonStandard/changeSubjectsInBox.m -text
pmm/getStimSweep.m -text
pmm/matchWithNoSig.m -text
pmm/collinearVsOtherCI.m -text
pmm/hackPerformancePerLickNum.m -text
pmm/compareAtoBbinofit.m -text
pmm/stepStatistics.m -text
pmm/makeFlankerNeuralPrediction.m -text
pmm/dprimeCI.m -text
pmm/analyze130.m -text
pmm/viewFlankerComparison.m -text
pmm/getBehavioralFeatures.m -text
pmm/doBarPlotWithStims.m -text
pmm/rWork.m -text
pmm/getResponseStats.m -text
pmm/ifYesIsLeftRat.m -text
pmm/plotPsychometricMCMC.m -text
pmm/filterFlankerData.m -text
pmm/whyDoCRsVary.m -text
pmm/getFlankerStats.m -text
pmm/makeflankerBarPlot.m -text
pmm/addYesResponse.m -text
pmm/flankerPaperFigures_v2.m -text
pmm/flankerPaperFigures_v1.m -text
pmm/compareConditionGrouping.m -text
pmm/diffOfBino.m -text
pmm/flankerComparisonCI.m -text
/humanInspect.m -text
/convertCTR2vectors.m -text
spike[!!-~]sorting/analysisManager.m -text
spike[!!-~]sorting/postProcessSpikeClusters.m -text
pmm/doHitFAScatter.m -text
spike[!!-~]sorting/spikeSortFiddler.m -text
pmm/isHumanSubjectID.m -text
spike[!!-~]sorting/flushPhysAnalysisRecords.m -text
spike[!!-~]sorting/flushSpikeRecords.m -text
spike[!!-~]sorting/osort/sortingNew/klustakwik/importFromKlusta.m -text
spike[!!-~]sorting/osort/sortingNew/klustakwik/exportToKlusta.m -text
spike[!!-~]sorting/osort/sortingNew/klustakwik/plotKlustaResult.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/evalAlignment.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/plotSimulatedAlignPerf.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/evalSimulatedPerfDetection.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/evalSimulatedAlignPerf.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/calcDetectionROC_perLevel.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/calcAlignPerf_allSims.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/calcAlignPerf.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/calcDetectionROC_precompute.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/plotDetectionROC.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/calcDetectionROC_CPU2 -text
spike[!!-~]sorting/osort/sortingNew/model/detection/calcDetectionROC.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/evalDetectionSimulated.m -text
spike[!!-~]sorting/osort/sortingNew/model/detection/plotDetectionROC_precomputed.m -text
spike[!!-~]sorting/osort/sortingNew/model/figSimulationPerformance.m -text
spike[!!-~]sorting/osort/sortingNew/model/loadSimulationFilesVars.m -text
spike[!!-~]sorting/osort/sortingNew/model/runSimulatedEval.m -text
spike[!!-~]sorting/osort/sortingNew/model/compareWithOffline.m -text
spike[!!-~]sorting/osort/sortingNew/model/generateSpiketrain_fromNcs.m -text
spike[!!-~]sorting/osort/sortingNew/model/calcRsquare.m -text
spike[!!-~]sorting/osort/sortingNew/model/generateSpiketrain_times.m -text
spike[!!-~]sorting/osort/sortingNew/model/generateSpiketrain.m -text
spike[!!-~]sorting/osort/sortingNew/model/filter.mat -text
spike[!!-~]sorting/osort/sortingNew/model/estimatePDF.m -text
spike[!!-~]sorting/osort/sortingNew/model/plotSimulationPerformance.m -text
spike[!!-~]sorting/osort/sortingNew/model/rand_renewal_poisson.m -text
spike[!!-~]sorting/osort/sortingNew/model/Fstatistic.m -text
spike[!!-~]sorting/osort/sortingNew/model/loadSimulationFiles.m -text
spike[!!-~]sorting/osort/sortingNew/model/compareWithWave.m -text
spike[!!-~]sorting/osort/sortingNew/model/generateSpiketrain_memOptimized.m -text
spike[!!-~]sorting/osort/sortingNew/model/findAverageAutocorr.m -text
spike[!!-~]sorting/osort/sortingNew/model/generateSimulatedSpiketrains.m -text
spike[!!-~]sorting/osort/sortingNew/model/detectArtificialSpikes.m -text
spike[!!-~]sorting/osort/sortingNew/model/plotAverageAutocorr.m -text
spike[!!-~]sorting/osort/sortingNew/model/loadSimulationFiles_order.m -text
spike[!!-~]sorting/osort/sortingNew/model/mainSimulatedEval.m -text
spike[!!-~]sorting/osort/sortingNew/model/findAllOrigTimestamps.m -text
spike[!!-~]sorting/osort/sortingNew/model/plotsDetectionEvaluation.m -text
spike[!!-~]sorting/osort/sortingNew/model/allMeans.mat -text
spike[!!-~]sorting/osort/sortingNew/model/evalPerformance.m -text
spike[!!-~]sorting/osort/sortingNew/noiseRemoval/aaad.m -text
spike[!!-~]sorting/osort/sortingNew/noiseRemoval/transformBasis2.m -text
spike[!!-~]sorting/osort/sortingNew/noiseRemoval/transformBasis.m -text
spike[!!-~]sorting/osort/sortingNew/noiseRemoval/transformSpikes.m -text
spike[!!-~]sorting/osort/sortingNew/projectionTest/pruneOutliers.m -text
spike[!!-~]sorting/osort/sortingNew/projectionTest/figureClusterOverlap.m -text
spike[!!-~]sorting/osort/sortingNew/projectionTest/comparePSDs.m -text
spike[!!-~]sorting/osort/sortingNew/projectionTest/residualProjection.m -text
spike[!!-~]sorting/osort/sortingNew/projectionTest/projectionTest.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/calcAvPowerspectrum.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/clusterCrosscorr.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/findBurstsEval.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/plotInstFiringOfClusters.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/comparePSDs.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/residualDistribution.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/allBurstyNeuronsRelAmplitude.mat -text
spike[!!-~]sorting/osort/sortingNew/evaluation/calcAverageSpikeInBurst.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/getBinnedSpikeCountForCluster.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/findBursts.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/quantifyBursts.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/calcSNR.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/cellStatsHM.mat -text
spike[!!-~]sorting/osort/sortingNew/evaluation/plotWhiteningResult.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/waveletComparison.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/evalProjectionTestAllCells.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/evalSNRAllCells.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/evalBurstsAllCells.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/statsProjHM.mat -text
spike[!!-~]sorting/osort/sortingNew/evaluation/quantifySortedBursts.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/getSNRISISortingStatsOfCluster.m -text
spike[!!-~]sorting/osort/sortingNew/evaluation/figsPerfSimulations.m -text
spike[!!-~]sorting/osort/sortingNew/clusterMeans.m -text
spike[!!-~]sorting/osort/sortingNew/setDistanceWeight.m -text
spike[!!-~]sorting/osort/sortingNew/plotSingleCluster.m -text
spike[!!-~]sorting/osort/sortingNew/calculateDistanceNorm.m -text
spike[!!-~]sorting/osort/sortingNew/plotSortingResultRaw.m -text
spike[!!-~]sorting/osort/sortingNew/sortingMain.m -text
spike[!!-~]sorting/osort/sortingNew/checkPowerspectrum.m -text
spike[!!-~]sorting/osort/sortingNew/RBFconv.m -text
spike[!!-~]sorting/osort/sortingNew/calculateDistanceT2.m -text
spike[!!-~]sorting/osort/sortingNew/mergeNegativePositiveSpikes.m -text
spike[!!-~]sorting/osort/sortingNew/calculatePowerspect.m -text
spike[!!-~]sorting/osort/sortingNew/posthocWhiten.m -text
spike[!!-~]sorting/osort/sortingNew/calcFDist.m -text
spike[!!-~]sorting/osort/sortingNew/rsolve.m -text
spike[!!-~]sorting/osort/sortingNew/calculateDistanceChi2.m -text
spike[!!-~]sorting/osort/sortingNew/reassignToFixedClusters.m -text
spike[!!-~]sorting/osort/sortingNew/getThreshold.m -text
spike[!!-~]sorting/osort/sortingNew/plotMeanWaveforms.m -text
spike[!!-~]sorting/osort/sortingNew/createMeanWaveforms.m -text
spike[!!-~]sorting/osort/sortingNew/realigneSpikes.m -text
spike[!!-~]sorting/osort/sortingNew/calculateDistance.m -text
spike[!!-~]sorting/osort/sortingNew/convertToSpiketrain.m -text
spike[!!-~]sorting/osort/sortingNew/getStatsForCluster.m -text
spike[!!-~]sorting/osort/sortingNew/kmeansTests.m -text
spike[!!-~]sorting/osort/sortingNew/plotRawWithHist.m -text
spike[!!-~]sorting/osort/sortingNew/calculateStdEstimate.m -text
spike[!!-~]sorting/osort/sortingNew/classifyClusters.m -text
spike[!!-~]sorting/osort/sortingNew/assignSpikesToClusters.m -text
spike[!!-~]sorting/osort/sortingNew/getMeanSpikeForms.m -text
spike[!!-~]sorting/osort/sortingNew/findInitialMeanWaveforms.m -text
spike[!!-~]sorting/osort/sortingNew/rfit.m -text
spike[!!-~]sorting/osort/sortingNew/calcSimilarityMatrix.m -text
spike[!!-~]sorting/osort/sortingNew/plotClusters.m -text
spike[!!-~]sorting/osort/sortingNew/sortingTextGUI.m -text
spike[!!-~]sorting/osort/sortingNew/sortSpikesOnline.m -text
spike[!!-~]sorting/osort/sortingNew/removeWhitenoise.m -text
spike[!!-~]sorting/osort/sortingNew/filterAndRBF.m -text
spike[!!-~]sorting/osort/sortingNew/calcDistMacro.m -text
spike[!!-~]sorting/osort/sortingNew/calculateDistanceNorm2.m -text
spike[!!-~]sorting/osort/sortingNew/postDetectionFilter.m -text
spike[!!-~]sorting/osort/sortingNew/realignAndScale.m -text
spike[!!-~]sorting/osort/sortingNew/sortBlock.m -text
spike[!!-~]sorting/osort/sortingNew/clusterSpikes.m -text
spike[!!-~]sorting/osort/sortingNew/iclustTest.m -text
spike[!!-~]sorting/osort/sortingNew/automaticSort.m -text
spike[!!-~]sorting/osort/sortingNew/assignToWaveform.m -text
spike[!!-~]sorting/osort/continuous/neuralynx/getRawCSCData.m -text
spike[!!-~]sorting/osort/continuous/neuralynx/getRawCSCTimestamps.m -text
spike[!!-~]sorting/osort/continuous/txt/getRawTXTData.m -text
spike[!!-~]sorting/osort/continuous/txt/getRawTXTTimestamps.m -text
spike[!!-~]sorting/osort/continuous/getRawTimestamps.m -text
spike[!!-~]sorting/osort/continuous/runKlustakwikCont.m -text
spike[!!-~]sorting/osort/continuous/findPeakPower.m -text
spike[!!-~]sorting/osort/continuous/runningAverage.m -text
spike[!!-~]sorting/osort/continuous/hdOLD.mat -text
spike[!!-~]sorting/osort/continuous/determineBlocks.m -text
spike[!!-~]sorting/osort/continuous/runningStd.m -text
spike[!!-~]sorting/osort/continuous/upsampleSpikes.m -text
spike[!!-~]sorting/osort/continuous/contFilt32556_1.mat -text
spike[!!-~]sorting/osort/continuous/classifySpikes.m -text
spike[!!-~]sorting/osort/continuous/hd.fda -text
spike[!!-~]sorting/osort/continuous/Hd2.mat -text
spike[!!-~]sorting/osort/continuous/processRaw.m -text
spike[!!-~]sorting/osort/continuous/getChannelInfo.m -text
spike[!!-~]sorting/osort/continuous/contFilt32556_1.fda -text
spike[!!-~]sorting/osort/continuous/plotWaveformsRaw.m -text
spike[!!-~]sorting/osort/continuous/findPeakMTEO.m -text
spike[!!-~]sorting/osort/continuous/runningTEO.m -text
spike[!!-~]sorting/osort/continuous/detectSpikes.m -text
spike[!!-~]sorting/osort/continuous/exportKlustakwikCont.m -text
spike[!!-~]sorting/osort/continuous/runningRMS.m -text
spike[!!-~]sorting/osort/continuous/loadRawData.m -text
spike[!!-~]sorting/osort/continuous/readKlustakwikContResult.m -text
spike[!!-~]sorting/osort/continuous/filterSignal.m -text
spike[!!-~]sorting/osort/continuous/getRawData.m -text
spike[!!-~]sorting/osort/continuous/findPeak.m -text
spike[!!-~]sorting/osort/continuous/classifyWave.m -text
spike[!!-~]sorting/osort/continuous/isGroundWire.m -text
spike[!!-~]sorting/osort/continuous/hd.mat -text
spike[!!-~]sorting/osort/continuous/getRawHeader.m -text
spike[!!-~]sorting/osort/continuous/computeNormalizedGround.m -text
spike[!!-~]sorting/osort/continuous/MTEO.m -text
spike[!!-~]sorting/osort/continuous/extractSpikes.m -text
spike[!!-~]sorting/osort/continuous/convertTimestamps.m -text
spike[!!-~]sorting/osort/continuous/plotSpikeExtraction.m -text
spike[!!-~]sorting/osort/continuous/defineSortingConstants.m -text
spike[!!-~]sorting/osort/continuous/plotSingleSpikes.m -text
spike[!!-~]sorting/osort/continuous/defineFileFormat.m -text
spike[!!-~]sorting/osort/continuous/plotBandpassFreqResp.m -text
spike[!!-~]sorting/KlustaKwik/KlustaKwik.exe -text
obselete/ratrixAnalysis.m -text
R_files/play.R -text
R_files/template.R -text
pmm/getMarvLogs.m -text
matbugs/bayesSDT/BayesSDT_v2.txt -text
matbugs/bayesSDT/BayesSDT.m -text
matbugs/bayesSDT/ReadMe.txt -text
matbugs/bayesSDT/BayesSDT_v1.txt -text
matbugs/matbugs.m -text
spike[!!-~]sorting/getFrameTimes.m -text
pmm/cosyne2009.m -text
pmm/getDprCurve.m -text
pmm/speciesCSF.m -text
/rlabHist.m -text
chronux/spectral_analysis/helper/getparams.m -text
chronux/spectral_analysis/helper/den_jack.m -text
chronux/spectral_analysis/helper/coherr.m -text
chronux/spectral_analysis/helper/cohmathelper.m -text
chronux/spectral_analysis/helper/check_consistency.m -text
chronux/spectral_analysis/helper/getfgrid.m -text
chronux/spectral_analysis/helper/dpsschk.m -text
chronux/spectral_analysis/helper/change_row_to_column.m -text
chronux/spectral_analysis/helper/jackknife.m -text
chronux/spectral_analysis/helper/specerr.m -text
chronux/spectral_analysis/hybrid/sta.m -text
chronux/spectral_analysis/hybrid/coherencysegcpt.m -text
chronux/spectral_analysis/hybrid/coherencycpb.m -text
chronux/spectral_analysis/hybrid/staogram.m -text
chronux/spectral_analysis/hybrid/coherencycpt.m -text
chronux/spectral_analysis/hybrid/cohgramcpt.m -text
chronux/spectral_analysis/hybrid/coherencysegcpb.m -text
chronux/spectral_analysis/hybrid/cohgramcpb.m -text
chronux/spectral_analysis/plots/plotsig.m -text
chronux/spectral_analysis/plots/plotsigdiff.m -text
chronux/spectral_analysis/plots/plot_matrix.m -text
chronux/spectral_analysis/plots/plot_vector.m -text
chronux/spectral_analysis/specscope/start_display.m -text
chronux/spectral_analysis/specscope/rtf.m -text
chronux/spectral_analysis/specscope/specscope.m -text
chronux/spectral_analysis/specscope/specscopepp.m -text
chronux/spectral_analysis/specscope/load_scope.m -text
chronux/spectral_analysis/continuous/mtdspectrumc.m -text
chronux/spectral_analysis/continuous/mtspectrumsegc.m -text
chronux/spectral_analysis/continuous/mtdspecgramc.m -text
chronux/spectral_analysis/continuous/mtspectrumtrigc.m -text
chronux/spectral_analysis/continuous/rmlinesc.m -text
chronux/spectral_analysis/continuous/mtspectrumc_unequal_length_trials.m -text
chronux/spectral_analysis/continuous/runline.m -text
chronux/spectral_analysis/continuous/cohgramc.m -text
chronux/spectral_analysis/continuous/evoked.m -text
chronux/spectral_analysis/continuous/cohmatrixc.m -text
chronux/spectral_analysis/continuous/locsmooth.m -text
chronux/spectral_analysis/continuous/CrossSpecMatc.m -text
chronux/spectral_analysis/continuous/mtfftc.m -text
chronux/spectral_analysis/continuous/mtspectrum_of_spectrumc.m -text
chronux/spectral_analysis/continuous/quadcof.m -text
chronux/spectral_analysis/continuous/fitlinesc.m -text
chronux/spectral_analysis/continuous/coherencyc.m -text
chronux/spectral_analysis/continuous/ftestc.m -text
chronux/spectral_analysis/continuous/extractdatac.m -text
chronux/spectral_analysis/continuous/rmlinesmovingwinc.m -text
chronux/spectral_analysis/continuous/spsvd.m -text
chronux/spectral_analysis/continuous/mtspectrumc.m -text
chronux/spectral_analysis/continuous/findpeaks.m -text
chronux/spectral_analysis/continuous/createdatamatc.m -text
chronux/spectral_analysis/continuous/mtspecgramc.m -text
chronux/spectral_analysis/continuous/mtspecgramtrigc.m -text
chronux/spectral_analysis/continuous/coherencysegc.m -text
chronux/spectral_analysis/continuous/mtpowerandfstatc.m -text
chronux/spectral_analysis/continuous/nonst_stat.m -text
chronux/spectral_analysis/continuous/locdetrend.m -text
chronux/spectral_analysis/continuous/coherencyc_unequal_length_trials.m -text
chronux/spectral_analysis/continuous/quadinv.m -text
chronux/spectral_analysis/statistical_tests/two_group_test_spectrum.m -text
chronux/spectral_analysis/statistical_tests/two_group_test_coherence.m -text
chronux/spectral_analysis/pointbinned/cohgrampb.m -text
chronux/spectral_analysis/pointbinned/mtspectrumsegpb.m -text
chronux/spectral_analysis/pointbinned/mtspecgrampb.m -text
chronux/spectral_analysis/pointbinned/coherencysegpb.m -text
chronux/spectral_analysis/pointbinned/CrossSpecMatpb.m -text
chronux/spectral_analysis/pointbinned/createdatamatpb.m -text
chronux/spectral_analysis/pointbinned/coherencypb.m -text
chronux/spectral_analysis/pointbinned/mtfftpb.m -text
chronux/spectral_analysis/pointbinned/mtdspectrumpb.m -text
chronux/spectral_analysis/pointbinned/mtdspecgrampb.m -text
chronux/spectral_analysis/pointbinned/mtspecgramtrigpb.m -text
chronux/spectral_analysis/pointbinned/mtspectrumpb.m -text
chronux/spectral_analysis/pointbinned/extractdatapb.m -text
chronux/spectral_analysis/pointbinned/mtspectrumtrigpb.m -text
chronux/spectral_analysis/pointbinned/cohmatrixpb.m -text
chronux/spectral_analysis/pointtimes/coherencypt.m -text
chronux/spectral_analysis/pointtimes/countsig.m -text
chronux/spectral_analysis/pointtimes/cohmatrixpt.m -text
chronux/spectral_analysis/pointtimes/mtspectrumtrigpt.m -text
chronux/spectral_analysis/pointtimes/isi.m -text
chronux/spectral_analysis/pointtimes/mtspectrumsegpt.m -text
chronux/spectral_analysis/pointtimes/mtspecgramtrigpt.m -text
chronux/spectral_analysis/pointtimes/createdatamatpt.m -text
chronux/spectral_analysis/pointtimes/binspikes.m -text
chronux/spectral_analysis/pointtimes/minmaxsptimes.m -text
chronux/spectral_analysis/pointtimes/psth.m -text
chronux/spectral_analysis/pointtimes/CrossSpecMatpt.m -text
chronux/spectral_analysis/pointtimes/mtspectrumpt.m -text
chronux/spectral_analysis/pointtimes/mtfftpt.m -text
chronux/spectral_analysis/pointtimes/mtdspectrumpt.m -text
chronux/spectral_analysis/pointtimes/mtdspecgrampt.m -text
chronux/spectral_analysis/pointtimes/coherencysegpt.m -text
chronux/spectral_analysis/pointtimes/extractdatapt.m -text
chronux/spectral_analysis/pointtimes/mtspecgrampt.m -text
chronux/spectral_analysis/pointtimes/cohgrampt.m -text
chronux/spectral_analysis/pointtimes/padNaN.m -text
chronux/spectral_analysis/chronux.m -text
pmm/addSTAEvents.m -text
pmm/continualAnalysisSTA.m -text
eye/plotEyeElipses.m -text
spike[!!-~]sorting/analysisManagerByChunk.m -text
eye/analyzeGaze.m -text
pmm/getCommonSubjectDir.m -text
pmm/assignLabeledNames.m -text
pmm/flankerPaperFigures_v3.m -text
pmm/standardFlankerPaperPlot.m -text
pmm/getBlockTransitionTrialNums.m -text
pmm/nearestIndices.m -text
pmm/addPhantomTargetContrast.m -text
pmm/FlankerPapaerSupplimentary1.m -text
pmm/pmmEvent.m -text
pmm/viewBlockedData.m -text
pmm/checkControls.m -text
pmm/calibration/pmmCalib.m -text
anatomy/getLgnCoordinates.m -text
anatomy/plotInBregmaCoordinates.m -text
anatomy/getV1Coordinates.m -text
anatomy/getPositionInBregmaCoordinates.m -text
pmm/PatchVideo.m -text
pmm/special138_139data.m -text
pmm/qIsThereAnEffectOfDelay.m -text
pmm/staticPopulationResponseSpeculation.m -text
pmm/peekAtBlocked.m -text
pmm/qIsBlockBlockedSameAsInterLeaved-flankerEffect.m -text
eye/getEyeRecords.m -text
pmm/my_yticklabels.m -text
pmm/figurePrintSizeTest.m -text
pmm/getMichealsonContrast.m -text
/saveFigs.m -text
spike[!!-~]sorting/getRawNidaq.m -text
bsriram/nonStandard/getDataFromEventLogNew.m -text
bsriram/nonStandard/LFPAnalysis.m -text
duc/doCuedGoNoGoAnalysis.m -text
analysisScripts/sampleAnalysisParameters.m -text
bsriram/analysisEnabling/createAnalysisScript.m -text
analysisScripts/305/analysisScript_12_14_2009.m -text
pmm/qHowDoesSOAEffectRats.m -text
pmm/getMarkerSymbolForSubject.m -text
pmm/peekAtEyes.m -text
pmm/maxDetectionModel.m -text
dsd/mouseWork.m -text
pmm/cosyne2010/detectionModel.m -text
pmm/cosyne2010/peformanceFigures.m -text
duc/doCuedGoNoGoAnalysisBeta.m -text
analysisScripts/250/analysisScript_05_24_2010.m -text
analysisScripts/305/analysisScript_12_16_2009.m -text
analysisScripts/305/analysisScript_05_24_2010.m -text
analysisScripts/342/analysisScript_06_01_2010.m -text
analysisScripts/257/analysisScript_05_24_2010.m -text
analysisScripts/249/analysisScript_05_24_2010.m -text
analysisScripts/analysisParamsForLocalStore.m -text
spike[!!-~]sorting/historicalSpikeFiddlerCalls.m -text
spike[!!-~]sorting/viewAllSpikesByChannel.m -text
pmm/cosyne2010/older[!!-~]backups/detectionModel2.m -text
pmm/cosyne2010/older[!!-~]backups/endBackup.m -text
pmm/cosyne2010/older[!!-~]backups/removedContentJune1.m -text
pmm/cosyne2010/older[!!-~]backups/detectionModel.m -text
pmm/cosyne2010/older[!!-~]backups/backup.m -text
pmm/cosyne2010/older[!!-~]backups/detectionModelMaybe.m -text
pmm/fileExchange/cochranqtest.m -text
pmm/makeDataMatrixTimeFractionBlocksFromFlankerStats.m -text
pmm/qWhatAreTheStats.m -text
pmm/collinearFrequency.m -text
pmm/displayStatSig.m -text
pmm/stabilityTestQuick.m -text
pmm/contrastContrastWork.m -text
pmm/qWhatAreThePapersTableStatsHack.m -text
pmm/qDoesRelativePhaseMatter.m -text
pmm/explainShuffleCI.m -text
pmm/makeDataMatrixPerAnalysisBlockFromFlankerStats.m -text
pmm/flankerPaperStims.m -text
pmm/makeDataMatrixPerTrialFromFlankerStats.m -text
pmm/qDoesRtEffectPerformance.m -text
pmm/nonGaussROCwork.m -text
pmm/waldExamples.m -text
pmm/oneTimeActionLocalCompile.m -text
pmm/qDoesNumLicksPredictChoice.m -text
pmm/testAnova.m -text
