/ratrixAnalysis.m -text
/inspectValveErrors.m -text
/loadRatrixData.m -text
pmm/analyze102.m -text
pmm/temporalROC.m -text
pmm/compareLeftRightRuns.m -text
pmm/pmmInspect.m -text
pmm/filterFlankerStatistics.m -text
pmm/exploreDPrime.m -text
/doPlotPercentCorrect.m -text
/calculateRewardPerOpenTime.m -text
/colorplot.m -text
/cleanUpFigure.m -text
/removeSomeSmalls.m -text
/doQuickInspect.m -text
/inspectRatResponses.m -text
/dprime.m -text
/getBodyWeightHistory.m -text
/reportBias.m -text
/dprimePerConditonPerDay.m -text
/findResponsePatterns.m -text
/getSmalls.m -text
/makeDailyRaster.m -text
/getSessionStartAndEnd.m -text
/getCurrentSubjects.m -text
/getStepStateFromRecords.m -text
/simpleExample.m -text
/getGoods.m -text
/doPlot.m -text
/analysisDaemon.m -text
/calcDailyRewards.m -text
/savePlotsToPNG.m -text
/quickInspect.m -text
/fullscreen.m -text
/getMarvLogs.m -text
/calcAmountCorrectInRow.m -text
/getSideCorrectContext.m -text
/moveLargeDataAndAddExplicitTrialNumbers.m -text
/weeklyReport.m -text
/plotBodyWeights.m -text
pmm/bigLick.m -text
pmm/getDprMesh.m -text
pmm/analyzePerContextualState.m -text
pmm/megaTrials.m -text
pmm/analyze117.m -text
/analyzeGaze.m -text
obselete/combineTwoSmallDataFiles.m -text
obselete/convertLargeToSmallData.m -text
obselete/getSaveLog.m -text
obselete/getDateListForBlocks.m -text
obselete/selectSubsetOfDataFiles.m -text
obselete/getPathsForThisSubjectsData.m -text
obselete/makeLargeDataChunk.m -text
obselete/getRatrixDataFromStation.m -text
obselete/getSessionIDsFromFilePaths.m -text
obselete/getRatrixFilesFromStation.m -text
obselete/findStationsForSubject.m -text
obselete/initializeSubjectStorageIfNeeded.m -text
obselete/getDataStorageIPAndPath.m -text
obselete/addToSaveLog.m -text
obselete/createSavedDataName.m -text
obselete/initializeSaveLogIndToEmpty.m -text
obselete/makeFoldersIfTheyDontExist.m -text
obselete/overwriteRatices.m -text
obselete/findIPforStation.m -text
obselete/getStepNumFromRemoteRatrix.m -text
pmm/getDataCosyne2008.m -text
pmm/humanPsychAnalysis.m -text
pmm/checkCosyneRats.m -text
pmm/peekAtData.m -text
pmm/getFlankerConditionInds.m -text
pmm/flankerAnalysis.m -text
pmm/plotPerformancePerContrastPerCondition.m -text
pmm/plotPerformancePerValuePerCondition.m -text
pmm/recoverStepTransition.m -text
pmm/peekAtDataNoFlanks.m -text
pmm/doSubjectFlankerAnalysis.m -text
pmm/getPlotParameters.m -text
pmm/makeSfnSummary.m -text
pmm/allToSmall.m -text
bsriram/doAnalysis.m -text
bsriram/nonStandard/changeEyepuffStatus.m -text
bsriram/oldAnalysis/plotPerCorrect.m -text
bsriram/oldAnalysis/getPerCorrect.m -text
bsriram/oldAnalysis/getCorrects.m -text
bsriram/oldAnalysis/getResponses.m -text
bsriram/oldAnalysis/getTargets.m -text
bsriram/oldAnalysis/getNotrials.m -text
bsriram/oldAnalysis/getGoods.m -text
bsriram/oldAnalysis/getCorrections.m -text
bsriram/oldAnalysis/getTrials.m -text
bsriram/oldAnalysis/plotEntropy.m -text
bsriram/oldAnalysis/getSmooth.m -text
bsriram/oldAnalysis/plotBias.m -text
bsriram/oldAnalysis/getITI.m -text
bsriram/oldAnalysis/plotEntropyofPattern.m -text
bsriram/oldAnalysis/plotITI.m -text
bsriram/oldAnalysis/compressData.m -text
bsriram/oldAnalysis/getDates.m -text
bsriram/oldAnalysis/plotNoTrials.m -text
bsriram/oldAnalysis/changeDateFormat.m -text
bsriram/nonStandard/addSessionNumber.m -text
bsriram/nonStandard/changeSubjectsInBox.m -text
pmm/getStimSweep.m -text
pmm/matchWithNoSig.m -text
pmm/collinearVsOtherCI.m -text
pmm/hackPerformancePerLickNum.m -text
pmm/compareAtoBbinofit.m -text
pmm/stepStatistics.m -text
pmm/makeFlankerNeuralPrediction.m -text
pmm/dprimeCI.m -text
pmm/analyze130.m -text
pmm/viewFlankerComparison.m -text
pmm/getBehavioralFeatures.m -text
pmm/doBarPlotWithStims.m -text
pmm/rWork.m -text
pmm/getResponseStats.m -text
pmm/ifYesIsLeftRat.m -text
pmm/plotPsychometricMCMC.m -text
pmm/filterFlankerData.m -text
pmm/whyDoCRsVary.m -text
pmm/getFlankerStats.m -text
pmm/makeflankerBarPlot.m -text
pmm/addYesResponse.m -text
pmm/flankerPaperFigures_v2.m -text
pmm/flankerPaperFigures_v1.m -text
pmm/compareConditionGrouping.m -text
pmm/diffOfBino.m -text
pmm/flankerComparisonCI.m -text
/humanInspect.m -text
/convertCTR2vectors.m -text
spike[!!-~]sorting/analysisManager.m -text
spike[!!-~]sorting/postProcessSpikeClusters.m -text
pmm/doHitFAScatter.m -text
