/ratrixAnalysis.m -text
/inspectValveErrors.m -text
/loadRatrixData.m -text
/humanPsychAnalysis.m -text
miniDatabase/getStepNumFromRemoteRatrix.m -text
dataXfer/combineTwoSmallDataFiles.m -text
dataXfer/sortSmallData.m -text
dataXfer/initializeSaveLogIndToEmpty.m -text
dataXfer/makeFoldersIfTheyDontExist.m -text
dataXfer/addToSaveLog.m -text
dataXfer/initializeFieldsForSmallData.m -text
dataXfer/setSmallDataFromListOfVariableNames.m -text
dataXfer/getSessionIDsFromFilePaths.m -text
dataXfer/selectSubsetOfDataFiles.m -text
dataXfer/datenumFor30.m -text
dataXfer/initializeSubjectStorageIfNeeded.m -text
dataXfer/getDataStorageIPAndPath.m -text
dataXfer/getDateListForBlocks.m -text
dataXfer/getSaveLog.m -text
dataXfer/findStationsForSubject.m -text
dataXfer/convertLargeToSmallData.m -text
dataXfer/makeLargeDataChunk.m -text
dataXfer/getPathsForThisSubjectsData.m -text
dataXfer/findIPforStation.m -text
dataXfer/xferDataToServer.m -text
dataXfer/createSavedDataName.m -text
tempVariables/BWs.mat -text
pmm/analyze102.m -text
pmm/temporalROC.m -text
pmm/compareLeftRightRuns.m -text
pmm/pmmInspect.m -text
pmm/filterFlankerStatistics.m -text
pmm/exploreDPrime.m -text
/doPlotPercentCorrect.m -text
/oldInspector.m -text
/flankerAnalysis.m -text
/getDataCosyne2008.m -text
/doSubjectFlankerAnalysis.m -text
/peekAtDataNoFlanks.m -text
/checkCosyneRats.m -text
/getRatrixDataFromStation.m -text
/calculateRewardPerOpenTime.m -text
/colorplot.m -text
/getFlankerConditionInds.m -text
/cleanUpFigure.m -text
/removeSomeSmalls.m -text
/plotPerformancePerContrastPerCondition.m -text
/datacollection.fig -text
/doQuickInspect.m -text
/inspectRatResponses.m -text
/dprime.m -text
/getBodyWeightHistory.m -text
/reportBias.m -text
/dprimePerConditonPerDay.m -text
/makeSfnSummary.m -text
/findResponsePatterns.m -text
/getPlotParameters.m -text
/getSmalls.m -text
/makeDailyRaster.m -text
/getSessionStartAndEnd.m -text
/getCurrentSubjects.m -text
/getStepStateFromRecords.m -text
/simpleExample.m -text
/getGoods.m -text
/doPlot.m -text
/analysisDaemon.m -text
/overwriteRatices.m -text
/recoverStepTransition.m -text
/dcuiparams.m -text
/calcDailyRewards.m -text
/savePlotsToPNG.m -text
/quickInspect.m -text
/fullscreen.m -text
/getMarvLogs.m -text
/calcAmountCorrectInRow.m -text
/datacollection.m -text
/getSideCorrectContext.m -text
/removeFieldsFromCompiled.m -text
/plotPerformancePerValuePerCondition.m -text
/moveLargeDataAndAddExplicitTrialNumbers.m -text
/allToSmall.m -text
/weeklyReport.m -text
/peekAtData.m -text
/getRatrixFilesFromStation.m -text
/plotBodyWeights.m -text
pmm/bigLick.m -text
pmm/getDprMesh.m -text
pmm/analyzePerContextualState.m -text
pmm/megaTrials.m -text
pmm/analyze117.m -text
/analyzeGaze.m -text
