/generateScreenCalibrationData.m -text
/testClutIndices.m -text
/fitGamma.m -text
/getScreenCalibrationData.m -text
/calibrate.m -text
/extframepulse.m -text
/calibrateMonitor.m -text
/addCLUTToOracle.m -text
