/generateScreenCalibrationData.m -text
/testClutIndices.m -text
/lptread.mexw32 -text
/lptwrite.mexw32 -text
/fitGamma.m -text
/getScreenCalibrationData.m -text
/calibrate.m -text
/extframepulse.m -text
